﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        ViewData["Title"] = "Chỉnh sửa bài hát";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<form id="frmSong">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>{{ songName }}</h2>
                <p>Đường dẫn: <a v-bind:href="slug">{{ slug }}</a></p>
            </div>
            <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                <ul class="breadcrumb justify-content-end">
                    <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Chỉnh sửa bài hát</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="body">
            <div class="row">
                <div class="col-md-12">
                    <input type="hidden" name="songId" id="songId" class="form-inline form-control" value="@Model.songId" disabled>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Tiêu đề</span>
                        </div>
                        <input v-model="songName" required aria-label="Large" aria-describedby="inputGroup-sizing-sm" type="text" name="songName" id="songName" class="form-control" value="@Model.songName">
                    </div>
                </div>
            </div><hr />
            <div class="row">
                <div class="col-md-3">
                    <label for="cateId">Danh mục</label>
                    <select name="cateId" class="form-control">
                        @{
                            Category cate = new Category();
                            foreach (var lstCate in cate.GetAllCategory())
                            {
                                if (lstCate.cateId == @Model.cateId)
                                {
                                    <option value="@lstCate.cateId" selected="selected">@lstCate.cateName</option>
                                }
                                else
                                {
                                    <option value="@lstCate.cateId">@lstCate.cateName</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="songYear">Năm</label>
                    <input type="text" name="songYear" id="songYear" class="form-control date" value="@Model.songYear" />
                    <label for="songDateCreated">Ngày tạo</label>
                    <input type="date" name="songDateCreated" id="songDateCreated" class="form-control" value="@Model.songDateCreated" />
                    <label for="songView">Lượt xem</label>
                    <input type="number" max="10000000" name="songView" id="songView" class="form-control" value="@Model.songView" />
                </div>
                <div class="col-md-3">
                    <label for="userId">Người dùng</label>
                    <select id="userId" name="userId" class="form-control">
                        @{
                            User user = new User();
                            foreach (var lstUser in user.GetAllUser())
                            {
                                if (lstUser.userId == @Model.userId)
                                {
                                    <option value="@lstUser.userId" selected="selected">@lstUser.userFullName</option>
                                }
                                else
                                {
                                    <option value="@lstUser.userId">@lstUser.userFullName</option>
                                }
                            }
                        }
                    </select>
                    <label for="albumId">Album</label>
                    <select id="albumId" name="albumId" class="form-control">
                        @{
                            Album album = new Album();
                            foreach (var lstAlbum in album.GetAllAlbumByUserId(@Model.userId))
                            {
                                if (lstAlbum.albumId == @Model.albumId)
                                {
                                    <option value="@lstAlbum.albumId" selected="selected">@lstAlbum.albumName</option>
                                }
                                else
                                {
                                    <option value="@lstAlbum.albumId">@lstAlbum.albumName</option>
                                }
                            }
                        }
                    </select>
                    <label for="countryId">Quốc gia</label>
                    <select name="countryId" class="form-control">
                        @{
                            Country country = new Country();
                            foreach (var lstCountry in country.GetAllCountry())
                            {
                                if (lstCountry.countryId == @Model.countryId)
                                {
                                    <option value="@lstCountry.countryId" selected="selected">@lstCountry.countryName</option>
                                }
                                else
                                {
                                    <option value="@lstCountry.countryId">@lstCountry.countryName</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="userId">Hình ảnh</label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="songImage" value="@Model.songImage">
                            <label class="custom-file-label" for="songImage">Chọn tệp</label>
                        </div>
                    </div>
                    <label for="songFile">Tệp MP3</label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="songFile" value="@Model.songFile">
                            <label class="custom-file-label" for="songFile">Chọn tệp</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="songDesc">Mô tả</label>
                    <textarea id="songDesc" name="songDesc">@Model.songDesc</textarea>
                </div>
                <div class="col-md-6">
                    <label for="songDesc">Lyric</label>
                    <textarea id="songLyric" name="songLyric">@Model.songLyric</textarea>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        var songName = $("#songName").val();
        new Vue({
            el: '#frmSong',
            data: {
                songName: songName,
            },
            computed: {
                slug: function () {
                    var slug = 'http://acs.com/' + toSlug(this.songName);
                    return slug;
                }
            }
        });
        //CKEditor
        CKEDITOR.replace('songLyric');
        CKEDITOR.replace('songDesc');
        CKEDITOR.config.height = 300;
        //$("#songDateCreated").datetimepicker({ format: "DD/MM/YYYY" });

        $("select").change(function () {
            $("select#userId option:selected").each(function () {
                var userId = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/Song/GetAlbumByUserId",
                    data: { userId: userId },
                    success: function (result) {
                        allAlbum_html = '<option id="0">--- Lựa chọn ---</option>';
                        if (result.result.length != 0) {
                            for (var i = 0; i < result.result.length; i++) {
                                allAlbum_html += '<option id="' + result.result[i].albumId + '">' + result.result[i].albumName + '</option>'
                            }
                        } else {
                            alert("Không có Album nào của ca sĩ này!");
                        }
                        $("select#albumId").html(allAlbum_html);
                    },
                    error: function () {
                    }
                });
            });
        });
    });
</script>
<script src="~/assets/vendor/ckeditor/ckeditor.js"></script> <!-- Ckeditor -->
@*<script src="~/assets/js/pages/forms/editors.js"></script>*@