﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        ViewData["Title"] = "Quản lý bài hát";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<!-- #region ======================================================== KHUNG HIỆN THỊ ========================================================-->
<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            <ul class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item">Quản lý danh mục</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown">
                    <li> <a href="javascript:addRowTable.reload()" title="Tải lại dữ liệu" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                    <li><a href="javascript:void(0);" class="full-screen" title="Xem full màn hình"><i class="icon-size-fullscreen"></i></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                            <li><a href="javascript:void(0);">Hành động</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <button id="addToTable" class="btn btn-primary m-b-15" type="button"><i class="icon wb-plus" aria-hidden="true"></i> Thêm mới</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="song">
                        <thead>
                            <tr>
                                <th class="font-weight-bold">ID</th>
                                <th>Tên bài hát</th>
                                <th>Mô tả</th>
                                <th>Lời bài hát</th>
                                <th>Năm</th>
                                <th>Hình ảnh</th>
                                <th>File Mp3</th>
                                <th>Tags</th>
                                <th>Ngày tạo</th>
                                <th>Lượt xem</th>
                                <th>Ca sỹ</th>
                                <th>Danh mục</th>
                                <th>Album</th>
                                <th>Quôc gia</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="font-weight-bold">ID</th>
                                <th>Tên bài hát</th>
                                <th>Mô tả</th>
                                <th>Lời bài hát</th>
                                <th>Năm</th>
                                <th>Hình ảnh</th>
                                <th>File Mp3</th>
                                <th>Tags</th>
                                <th>Ngày tạo</th>
                                <th>Lượt xem</th>
                                <th>Ca sỹ</th>
                                <th>Danh mục</th>
                                <th>Album</th>
                                <th>Quôc gia</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion-->
<!-- #region ==================================================== BINDDING DATA VIA AJAX ====================================================-->
<script>
    var addRowTable = {
        options: {
            addButton: "#addToTable",
            table: "#song",
            dialog: {}
        },
        reload: function () {
            this.datatable.ajax.reload();
        },
        initialize: function () {
            this.setVars().build().events()
        },
        setVars: function () {
            return this.$table = $(this.options.table), this.$addButton = $(this.options.addButton), this.dialog = {}, this.dialog.$wrapper = $(this.options.dialog.wrapper), this.dialog.$cancel = $(this.options.dialog.cancelButton), this.dialog.$confirm = $(this.options.dialog.confirmButton), this
        },
        build: function () {
            return this.datatable = $('#song').DataTable({
                "ajax": '/Song/List',
                "language": default_language,// Biến được định nghĩa trong wwwroot/js/site.js
                "dom": 'Bfrtip',
                "rowId": 'songId',
                "buttons": [
                    { extend: 'copy', text: 'Copy all', charset: 'utf-8', bom: true, init: function (api, node, config) { $(node).addClass("btn-danger"); }, exportOptions: { modifier: { selected: null } } },
                    { extend: 'copy', text: 'Copy selected', charset: 'utf-8', bom: true, exportOptions: { modifier: { selected: true } } },
                    { extend: 'csv', text: 'CSV all', charset: 'utf-8', bom: true, init: function (api, node, config) { $(node).addClass("btn-danger"); }, exportOptions: { modifier: { selected: null } } },
                    { extend: 'csv', text: 'CSV selected', charset: 'utf-8', bom: true, exportOptions: { modifier: { selected: true, } } },
                    { extend: 'print', text: 'Print all', charset: 'utf-8', bom: true, init: function (api, node, config) { $(node).addClass("btn-danger"); }, exportOptions: { modifier: { selected: null } } },
                    { extend: 'print', text: 'Print selected', charset: 'utf-8', bom: true, exportOptions: { modifier: { selected: true } } },
                ],
                "columnDefs": [{
                    orderable: false,
                    className: 'select-checkbox disabled',
                    targets: 0
                }],
                "select": {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                "columns": [
                    {
                        data: null, render: function (data, type, row) {
                            return '<span class="colId">' + row.songId + '</span>';// Hàm được định nghĩa trong wwwroot/js/site.js
                        }
                    }
                    , { data: "songName" }
                    , { data: "songDesc" }
                    , { data: "songLyric" }
                    , { data: "songYear" }
                    , { data: "songImage" }
                    , { data: "songFile" }
                    , { data: "songTags" }
                    , { data: "songDateCreated" }
                    , { data: "songView" }
                    , { data: "userId" }
                    , { data: "cateId" }
                    , { data: "albumId" }
                    , { data: "countryId" }
                    , {
                        data: null, render: function (data, type, row) {
                            return '<a class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5" href="/Song/Edit/' + row.songId + '"><i class="icon-pencil" aria-hidden="true"></i></a>';
                        }
                    }
                ]
            }), window.dt = this.datatable, this
        },
        events: function () {
            var object = this;
            return this.$table.on("click", "button.button-save", function (e) {
                e.preventDefault(), object.rowSave($(this).closest("tr"))
            }).on("click", "button.button-discard", function (e) {
                e.preventDefault(), object.rowCancel($(this).closest("tr"))
            }).on("click", "button.button-edit", function (e) {
                e.preventDefault(), object.rowEdit($(this).closest("tr"))
            }).on("click", "button.button-remove", function (e) {
                e.preventDefault();
                var $row = $(this).closest("tr");
                swal({
                    title: "Xóa thật đấy a?",
                    text: "Xóa xong là không khôi phục được nữa đâu đấy",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#dc3545",
                    cancelButtonText: 'Thôi không xóa nữa vậy',
                    confirmButtonText: "Xóa thôi, hỏi gì nữa!",
                    closeOnConfirm: false
                }, function () {
                    object.rowRemove($row)
                    swal("Xóa rồi đấy nhé!", null, "success");
                });
            }), this.$addButton.on("click", function (e) {
                e.preventDefault(), object.rowAdd()
            }), this.dialog.$cancel.on("click", function (e) {
                e.preventDefault(), $.magnificPopup.close()
            }), this
        },
        rowAdd: function () {
            this.$addButton.attr({
                disabled: "disabled"
            });
            var data, $row;
            data = this.datatable.rows.add([{
                "songId": "",
                "songName": "",
                "songDesc": "",
                "songLyric": "",
                "songYear": "",
                "songImage": "",
                "songFile": "",
                "songTags": "",
                "songDateCreated": "",
                "songView": "",
                "userId": "",
                "cateId": "",
                "albumId": "",
                "countryId": ""
            }]).draw();
            ($row = this.datatable.row(data[0]).nodes().to$()).addClass("adding").find("td:last").addClass("actions");
            this.rowEdit($row);
            this.handleTooltip($row);
            this.datatable.order([0, "asc"]).draw()
        },
        rowCancel: function ($row) {
            var $actions, data;
            $row.hasClass("adding") ? this.rowRemove($row) : (($actions = $row.find("td div.actions")).find(".button-discard").tooltip("hide"), $actions.get(0) && this.rowSetActionsDefault($row),
                data = this.datatable.row($row.get(0)).data(),
                this.datatable.row($row.get(0)).data(data),
                this.handleTooltip($row),
                this.datatable.draw())
        },
        rowEdit: function ($row) {
            var data, object = this;
            this.handleTooltip($row);
            data = this.datatable.row($row.get(0)).data();
            $row.children("td").each(function (i) {
                var $this = $(this);
                if ($this.children().hasClass("actions")) {
                    object.rowSetActionsEditing($row);
                } else {
                    var disabled = $this.hasClass("disabled") ? "disabled" : "";
                    $this.html('<input type="text" required class="form-control input-block" value="' + Object.values(data)[i] + '" ' + disabled + ' />');
                }
            })
        },
        rowSave: function ($row) {
            var object = this, values = [];
            $row.hasClass("adding");
            this.$addButton.removeAttr("disabled");
            $row.removeClass("adding");
            values = $row.find("td").map(function () {
                var $this = $(this);
                return $this.children().hasClass("actions") ? (object.rowSetActionsDefault($row), object.datatable.cell(this).data()) : $.trim($this.find("input").val())
            });
            $row.find("td div.actions").find(".button-save").tooltip("hide");
            $.ajax({
                url: "/Song/Update/",
                type: "POST",
                data: {
                    songId: values[0],
                    songName: values[1],
                    songDesc: values[2],
                    songLyric: values[3],
                    songYear: values[4],
                    songImage: values[5],
                    songFile: values[6],
                    songTags: values[7],
                    songDateCreated: values[8],
                    songView: values[9],
                    userId: values[10],
                    cateId: values[11],
                    albumId: values[12],
                    countryId: values[13]
                }
            }).done(function (data) {
                $('#song').DataTable().ajax.reload();
            }).fail(function (jqXHR) {
                swal("Có lỗi", jqXHR.status, "error");
            });
        },
        rowRemove: function ($row) {
            var songId = this.datatable.row($row.get(0)).data().songId;
            if (songId != "") {
                $.ajax({
                    url: "/Song/Delete/" + songId,
                    type: "DELETE",
                }).done(function (data) {
                    $('#song').DataTable().ajax.reload();
                }).fail(function (jqXHR) {
                    swal("Có lỗi", jqXHR.status, "error");
                });
            } else {
                $('tr.adding').remove();
                $('#addToTable').removeAttr("disabled");
            }
        },
        rowSetActionsEditing: function ($row) {
            $row.find(".on-editing").removeAttr("hidden"), $row.find(".on-default").attr("hidden", !0)
        },
        rowSetActionsDefault: function ($row) {
            $row.find(".on-editing").attr("hidden", !0), $row.find(".on-default").removeAttr("hidden")
        },
        handleTooltip: function ($row) {
            $row.find('[data-toggle="tooltip"]').tooltip()
        }
    };
    $(function () {
        addRowTable.initialize()
    })
</script>
<!-- #endregion-->