﻿<!-- #region ============================== STARTED FOOTER SCRIPT ==============================-->
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
@*<script src="~/assets/bundles/libscripts.bundle.js"></script>*@
<script src="~/assets/bundles/vendorscripts.bundle.js"></script>
<script src="~/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
<script src="~/assets/bundles/flotscripts.bundle.js"></script> <!-- flot charts Plugin Js -->
<script src="~/assets/vendor/flot-charts/jquery.flot.selection.js"></script>
<script src="~/assets/js/common.js"></script>
<script src="~/assets/vendor/select2/select2.min.js"></script> <!-- Select2 Js -->
<script src="~/assets/bundles/datatablescripts.bundle.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="~/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="~/assets/vendor/editable-table/mindmup-editabletable.js"></script> <!-- Editable Table Plugin Js -->
<script src="~/assets/vendor/jquery.highlighttextarea/jquery.highlighttextarea.min.js"></script>
<script src="~/assets/js/pages/tables/editable-table.js"></script>
<script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script src="~/js/footer.js"></script>
<script src="~/assets/js/pages/forms/dropify.js"></script>
<script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
<script src="~/js/jquery.key.js"></script>
<!-- #endregion -->