﻿<!DOCTYPE html>
<html>
<head>
    <!-- #region ============================== TITLE, META, DESCRIPTION ==============================-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="~/lib/hotkeys-js/dist/hotkeys.min.js" />*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="ASC ADMIN">
    <meta name="author" content="Hoan Chu">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- #endregion -->
    <!-- #region ============================== HEADER CSS, JS ==============================-->
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/south-street/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    @*<link href="//cdn.datatables.net/plug-ins/725b2a2115b/integration/jqueryui/dataTables.jqueryui.css" rel="stylesheet" type="text/css" />*@
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/colreorder/1.1.2/js/dataTables.colReorder.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/api/fnFilterClear.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.ui-contextmenu/1.7.0/jquery.ui-contextmenu.min.js"></script>

    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/animate-css/animate.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/assets/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
    <link rel="stylesheet" href="~/assets/vendor/dropify/css/dropify.min.css">
    <link rel="stylesheet" href="~/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/vendor/jquery.highlighttextarea/jquery.highlighttextarea.min.css">
    <link rel="stylesheet" href="~/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/summernote/dist/summernote.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="~/assets/vendor/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2/select2.css" />
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
    <script src="~/js/init_ui.js"></script>
    <script src="~/js/hoanchu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    @*<script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>*@
    @*<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>*@
    <!-- #endregion -->
    <!-- ============================== CUSTOMIZE CSS ============================== -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="~/assets/images/thumbnail.png" width="48" height="48" alt="Mplify"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay" style="display: none;"></div>

    <div id="wrapper">
        <partial name="_Navbar" />
        <partial name="_LeftSideBar" />
        <partial name="_MegaMenubar" />
        <partial name="_RightSidebar" />
        <div id="main-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <div class="float_nav btn-group-vertical">
            <button title="Lên" class="upArrow btn btn-secondary"><i class="fa fa-arrow-up"></i> </button>
            <button title="Trái" class="leftArrow btn btn-primary"><i class="fa fa-arrow-left"></i> </button>
            <button title="Giữa" class="centerArrow btn btn-danger"><i class="fa fa-align-center"></i> </button>
            <button title="Phải" class="rightArrow btn btn-success"><i class="fa fa-arrow-right"></i> </button>
            <button title="Xuống" class="downArrow btn btn-dark"><i class="fa fa-arrow-down"></i> </button>
            <button title="Help" class="btnHelp btn btn-warning"><i class="fa fa-question fa-spin"></i> </button>
        </div>
    </div>

    <partial name="_Footer" />
    @RenderSection("Scripts", required: false)
</body>
</html>