﻿@using Microsoft.AspNetCore.Http
<div id="leftsidebar" class="sidebar">
    <div class="sidebar-scroll">
        <nav id="leftsidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <li class="heading">Dashboard</li>
                <li class="home"><a href="/Home/Index"><i class="icon-home"></i><span>Bảng điều khiển</span></a></li>
                <li class="logout"><a href="/User/Logout" title="Ctrl + Q"><i class="fa fa-sign-out"></i><span>Thoát</span></a></li>
                <li class="heading">App</li>
                <li class="timeline"><a href="/Timeline/Index" title="Quản lý kịch bản Timeline"><i class="fa fa-feed"></i><span>Kịch bản Timeline</span></a></li>
                <li class="actions"><a href="/Actions/Auto" title="Auto Gen Actions"><i class="fa fa-magic"></i><span>Auto Gen Actions</span></a></li>
                <li class="comment"><a href="/Comment/Index" title=""><i class="fa fa-comments"></i><span>Comment</span></a></li>
                <li class="account"><a href="/Account/Index" title="Tài Khoản"><i class="fa fa-users"></i><span>Tài khoản</span></a></li>
                <li class="channel"><a href="/Channel/Index" title="Channel"><i class="fa fa-ticket"></i><span>Channel</span></a></li>
                <li class="useragent"><a href="/UserAgent/Index" title="UserAgent"><i class="fa fa-user-secret"></i><span>UserAgent</span></a></li>
                <li class="model"><a href="/Model/Index" title="Model"><i class="fa fa-graduation-cap"></i><span>Model</span></a></li>
                <li class="vps"><a href="/VPS/Index" title="VPS"><i class="fa fa-server"></i><span>VPS</span></a></li>
                @{
                    var roleName = Context.Session.GetString("roleName");
                    switch (roleName)
                    {
                        case "admin":
                            <li class="heading">Quản lý chung</li>
                            <li class="user"><a href="/User/Index" title="Người dùng"><i class="icon-users"></i><span>Người dùng</span></a></li>
                            <li class="role"><a href="/Role/Index" title="Quyền"><i class="fa fa-shield"></i><span>Quyền</span></a></li>
                            <li class="log"><a href="/Log/Index" title="Xem Log"><i class="fa fa-history"></i><span>Xem Log</span></a></li>
                            break;
                        case "editor":
                            break;
                        case "user":
                            break;
                        case "ctv":
                            break;
                    }
                }
            </ul>
        </nav>
    </div>
</div>