﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        ViewData["Title"] = "Quản lý tài khoản";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<!-- #region ======================================================== KHUNG HIỆN THỊ ========================================================-->
<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            <ul class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item">@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown">
                    <li> <a href="javascript:addRowTable.reload()" title="Tải lại dữ liệu" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                    <li><a href="javascript:void(0);" class="full-screen" title="Xem full màn hình"><i class="icon-size-fullscreen"></i></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" acc="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                            <li><a href="javascript:void(0);">Hành động</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="btn-group" role="group" aria-label="Default button group">
                            <button id="addRow" class="btn btn-primary m-b-15" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                            <button id="btnDelete" class="btn btn-danger m-b-15" type="button"><i class="fa fa-trash" aria-hidden="true"></i> Xóa item đang chọn</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group">
                            <select class="custom-select" id="quickStatus">
                                <option value="active">Active</option>
                                <option value="deactive">Deactive</option>
                            </select>
                            <button data-model="Account" id="btnUpdateStatus" class="btn btn-warning m-b-15" type="button" title="Cập nhật trạng thái nhanh"><i class="fa fa-upload" aria-hidden="true"></i> Cập nhật trạng thái</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group" role="group" aria-label="Default button group">
                            <button id="btnSampleFile" data-file="Account.xlsx" title="Tải file mẫu" class="btn btn-danger m-b-15" type="button"><i class="fa fa-download" aria-hidden="true"></i></button>
                            <input type="file" class="form-control-file custom-file" id="file" accept=".xlsx,.xls" /><br />
                            <button id="btnImportExcel" data-model="Account" class="btn btn-secondary m-b-15" type="button" disabled><i class="fa fa-file-excel-o" aria-hidden="true"></i> Nhập từ Excel</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="acc">
                        <thead><tr><th class="font-weight-bold">ID</th><th>Tên đăng nhập</th><th>Mật khẩu</th><th>Mô tả</th><th>Loại</th><th>Trạng thái</th><th>Ghi chú</th><th>Người tạo</th><th>Tài khoản khôi phục</th><th>Cookie</th><th>Actions</th></tr></thead>
                        <tfoot><tr><th class="font-weight-bold">ID</th><th>Tên đăng nhập</th><th>Mật khẩu</th><th>Mô tả</th><th>Loại</th><th>Trạng thái</th><th>Ghi chú</th><th>Người tạo</th><th>Tài khoản khôi phục</th><th>Cookie</th><th>Actions</th></tr></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion-->
<!-- #region ==================================================== BINDDING DATA VIA AJAX ====================================================-->
<script>
    var list_channel = [];
    var list_timeline = [];
    $.ajax({
        url: "/User/Get",
        type: "GET",
        success: function (data) {
            list_user = data.data;
        }
    });
    $.ajax({
        url: "/Channel/Get",
        type: "GET",
        success: function (data) {
            list_channel = data.data;
        }
    });
    //$.ajax({
    //    url: "/Timeline/Get",
    //    type: "GET",
    //    success: function (data) {
    //        list_timeline = data.data;
    //        let timeline_html = "";
    //        for (var i = 0; i < list_timeline.length; i++) {
    //            timeline_html += '<option value="' + list_timeline[i].timelineId + '">' + list_timeline[i].timelineName + '</option>';
    //        }
    //        $("#listTimeline").html(timeline_html).select2();
    //    }
    //});
    $(document).ready(function () {
        var addRowTable = {
            options: {
                addButton: "#addToTable",
                table: "#acc",
                dialog: {}
            },
            reload: function () {
                this.datatable.ajax.reload();
            },
            initialize: function () {
                this.setVars().build().events();
            },
            setVars: function () {
                return this.$table = $(this.options.table), this.$addButton = $(this.options.addButton), this.dialog = {}, this.dialog.$wrapper = $(this.options.dialog.wrapper), this.dialog.$cancel = $(this.options.dialog.cancelButton), this.dialog.$confirm = $(this.options.dialog.confirmButton), this
            },
            build: function () {
                return this.datatable = $('#acc').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
                    "pageLength": 50,
                    "rowId": 'accId',
                    "ajax": {
                        "url": "/Account/List",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "language": default_language,// Biến được định nghĩa trong wwwroot/js/init_ui.js
                    "dom": '<"top"flip<"clear">>rt<"bottom"flip<"clear">>B',
                    "buttons": default_button, // Biến được định nghĩa trong wwwroot/js/init_ui.js
                    "columnDefs": [{
                        orderable: false,
                        className: 'select-checkbox disabled',
                        targets: 0
                    }],
                    "select": {
                        style: 'multi',
                        selector: 'td:first-child'
                    },
                    "columns": [
                        {
                            data: null, render: function (data, type, row) {
                                return '<span class="colId"> ' + row.accId + '</span>';// Hàm được định nghĩa trong wwwroot/js/site.js
                            }
                        }
                        , { data: "accName" }
                        , { data: "accPass" }
                        , { data: "accDesc" }
                        , { data: "accType" }
                        , { data: "accStatus" }
                        , { data: "accNote" }
                        , {
                            data: null, render: function (data, type, row) {
                                for (let i = 0; i < list_user.length; i++) {
                                    if (data.userId == list_user[i].userId) {
                                        return list_user[i].userName;
                                    }
                                }
                                return 'Unknown';
                            }
                        }
                        , { data: "accRecovery" }
                        , {
                            data: null, render: function (data, type, row) {
                                return '<div title="' + row.accCookie + '" class="viewUserAgent">' + row.accCookie + '</div>';
                            }
                        }
                        //, {
                        //    data: null, render: function (data, type, row) {
                        //        for (let i = 0; i < list_timeline.length; i++) {
                        //            if (data.timelineId == list_timeline[i].timelineId) {
                        //                return list_timeline[i].timelineName;
                        //            }
                        //        }
                        //        return 'Unknown';
                        //    }
                        //}
                        , {
                            data: null, render: function (data, type, row) {
                                return show_buttton_actions(["edit", "save", "discard", "remove"]);// Biến được định nghĩa trong wwwroot/js/site.js
                            }
                        }
                    ]
                }), window.dt = this.datatable, this
            },
            events: function () {
                var object = this;
                return this.$table.on("click", "button.button-save", function (e) {
                    e.preventDefault(), object.rowSave($(this).closest("tr"))
                }).on("click", "button.button-discard", function (e) {
                    e.preventDefault(), object.rowCancel($(this).closest("tr"))
                }).on("click", "button.button-edit", function (e) {
                    e.preventDefault(), object.rowEdit($(this).closest("tr"))
                }).on("click", "button.button-remove", function (e) {
                    e.preventDefault();
                    var $row = $(this).closest("tr");
                    swal({
                        title: "Xóa thật đấy a?",
                        text: "Xóa xong là không khôi phục được nữa đâu đấy",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#dc3545",
                        cancelButtonText: 'Thôi không xóa nữa vậy',
                        confirmButtonText: "Xóa thôi, hỏi gì nữa!",
                        closeOnConfirm: false
                    }, function () {
                        object.rowRemove($row)
                        swal("Xóa rồi đấy nhé!", null, "success");
                    });
                }), this.$addButton.on("click", function (e) {
                    e.preventDefault(), object.rowAdd()
                }), this.dialog.$cancel.on("click", function (e) {
                    e.preventDefault(), $.magnificPopup.close()
                }), this
            },
            rowAdd: function () {
                this.$addButton.attr({
                    disabled: "disabled"
                });
                var data, $row;
                data = this.datatable.rows.add([{
                    "accId": "",
                    "accName": "",
                    "accPass": "",
                    "accDesc": "",
                    "accType": "",
                    "accStatus": "",
                    "accNote": "",
                    "userId": "",
                    "accRecovery": "",
                    "accCookie": "",
                }]).draw();
                ($row = this.datatable.row(data[0]).nodes().to$()).addClass("adding").find("td:last").addClass("actions");
                this.rowEdit($row);
                this.handleTooltip($row);
                this.datatable.order([0, "asc"]).draw()
            },
            rowCancel: function ($row) {
                var $actions, data;
                $row.hasClass("adding") ? this.rowRemove($row) : (($actions = $row.find("td div.actions")).find(".button-discard").tooltip("hide"), $actions.get(0) && this.rowSetActionsDefault($row),
                    data = this.datatable.row($row.get(0)).data(),
                    this.datatable.row($row.get(0)).data(data),
                    this.handleTooltip($row),
                    this.datatable.draw())
            },
            rowEdit: function ($row) {
                var data, object = this;
                this.handleTooltip($row);
                data = this.datatable.row($row.get(0)).data();
                $row.children("td").each(function (i) {
                    var $this = $(this);
                    if ($this.children().hasClass("actions")) {
                        object.rowSetActionsEditing($row);
                    } else {
                        var disabled = $this.hasClass("disabled") ? "disabled" : "";
                        if (i == 4) {
                            let acc_html = "";
                            for (let i = 0; i < list_channel.length; i++) {
                                let selected = (data.accType == list_channel[i].channelName) ? "selected" : "";
                                acc_html += '<option value="' + list_channel[i].channelName + '"' + selected + '>' + list_channel[i].channelName + '</option>';
                            }
                            $this.html('<select id="accType" class="form-control select_accType">' + acc_html + '</select>');
                        } else if (i == 7) {
                            let user_html = "";
                            for (let i = 0; i < list_user.length; i++) {
                                let selected = (data.userId == list_user[i].userId) ? "selected" : "";
                                user_html += '<option value="' + list_user[i].userId + '"' + selected + '>' + list_user[i].userName + '</option>';
                            }
                            $this.html('<select id="userId" required class="form-control select_userId">' + user_html + '</select>');
                        }
                        //else if (i == 8) {
                        //    let timeline_html = "";
                        //    for (let i = 0; i < list_timeline.length; i++) {
                        //        let selected = (data.timelineId == list_timeline[i].timelineId) ? "selected" : "";
                        //        timeline_html += '<option value="' + list_timeline[i].timelineId + '"' + selected + '>' + list_timeline[i].timelineName + '</option>';
                        //    }
                        //    $this.html('<select id="timelineId" required class="form-control select_timelineId">' + timeline_html + '</select>');
                        //}
                        else {
                            $this.html('<input type="text" required class="form-control input-block" value="' + Object.values(data)[i] + '" ' + disabled + ' />');
                        }
                    }
                    $('#userId').select2();
                    $('#accType').select2();
                    $('#timelineId').select2();
                });
            },
            rowSave: function ($row) {
                var object = this, values = [];
                $row.hasClass("adding");
                this.$addButton.removeAttr("disabled");
                $row.removeClass("adding");
                values = $row.find("td").map(function () {
                    var $this = $(this);
                    if ($this.children().hasClass("actions")) {
                        return (object.rowSetActionsDefault($row), object.datatable.cell(this).data());
                    } else {
                        if ($this.children().hasClass("select_accType")) {
                            return $.trim($this.find("select#accType").val());
                        }
                        else if ($this.children().hasClass("select_accStatus")) {
                            return $.trim($this.find("select#accStatus").val());
                        } else if ($this.children().hasClass("select_userId")) {
                            return $.trim($this.find("select#userId").val());
                        }
                        //else if ($this.children().hasClass("select_timelineId")) {
                        //    return $.trim($this.find("select#timelineId").val());
                        //}
                        else {
                            return $.trim($this.find("input").val());
                        }
                    }
                });
                $row.find("td div.actions").find(".button-save").tooltip("hide");
                $.ajax({
                    url: "/Account/Update/",
                    type: "POST",
                    data: {
                        accId: values[0],
                        accName: values[1],
                        accPass: values[2],
                        accDesc: values[3],
                        accType: values[4],
                        accStatus: values[5],
                        accNote: values[6],
                        userId: values[7],
                        accRecovery: values[8],
                        accCookie: values[9],
                    }
                }).done(function (data) {
                    hcShowToast("Thông báo", "Cập nhật thành công", "success", "dark", 3000, false);
                    $('#acc').DataTable().ajax.reload();
                }).fail(function (jqXHR) {
                    swal("Có lỗi", jqXHR.status, "error");
                });
            },
            rowRemove: function ($row) {
                var accId = this.datatable.row($row.get(0)).data().accId;
                if (accId != "") {
                    $.ajax({
                        url: "/Account/Delete/" + accId,
                        type: "DELETE",
                    }).done(function (data) {
                        $('#acc').DataTable().ajax.reload();
                    }).fail(function (jqXHR) {
                        swal("Có lỗi", jqXHR.status, "error");
                    });
                } else {
                    $('tr.adding').remove();
                    $('#addToTable').removeAttr("disabled");
                }
            },
            rowSetActionsEditing: function ($row) {
                $row.find(".on-editing").removeAttr("hidden"), $row.find(".on-default").attr("hidden", !0)
            },
            rowSetActionsDefault: function ($row) {
                $row.find(".on-editing").attr("hidden", !0), $row.find(".on-default").removeAttr("hidden")
            },
            handleTooltip: function ($row) {
                //$row.find('[data-toggle="tooltip"]').tooltip()
            }
        };
        addRowTable.initialize();
        $('#addRow').click(function () {
            let user_html = "";
            for (var i = 0; i < list_user.length; i++) {
                user_html += '<option value="' + list_user[i].userId + '">' + list_user[i].userName + '</option>';
            }
            let select_user = '<select class="form-control" tabindex="7" id="userId">' + user_html + '</select>';

            let timeline_html = "";
            for (var i = 0; i < list_timeline.length; i++) {
                timeline_html += '<option value="' + list_timeline[i].timelineId + '">' + list_timeline[i].timelineName + '</option>';
            }
            let select_timeline = '<select class="form-control" tabindex="7" id="timelineId">' + timeline_html + '</select>';

            var html = '<tr class="adding">';
            html += '<td><a class="btnCancelAddNew btn btn-sm btn-icon btn-pure btn-danger on-default" data-toggle="tooltip" data-original-title="Hủy"><i class="icon-close" aria-hidden="true"></i></a></td>';
            html += '<td><input type="text" class="form-control" required id="accName" name="accName" tabindex="1" /></td>';
            html += '<td><input type="text" class="form-control" required id="accPass" name="accPass" tabindex="2" /></td>';
            html += '<td><input type="text" class="form-control" required id="accDesc" name="accDesc" tabindex="3" /></td>';
            html += '<td><select required class="form-control" tabindex="4" id="accType"><option value="Facebook">Facebook</option><option value="Youtube">Youtube</option></select></td>';
            html += '<td><select required class="form-control" tabindex="5" id="accStatus"><option value="active">Active</option><option value="deactive">Deactive</option></select></td>';
            html += '<td><input type="text" class="form-control" required id="accNote" name="accNote" tabindex="6" /></td>';
            html += '<td>' + select_user + '</td>';
            //html += '<td>' + select_timeline + '</td>';
            html += '<td><input type="text" class="form-control" required id="accRecovery" name="accRecovery" tabindex="8" /></td>';
            html += '<td><input type="text" class="form-control" required id="accCookie" name="accCookie" tabindex="9" /></td>';
            html += '<td><button type="button" name="insert" id="insert" class="btn btn-success btn-xs" tabindex="10"><i class="icon-plus" aria-hidden="true"></i> Thêm mới</button></td>';
            html += '</tr>';
            $('.dataTable tbody').prepend(html);
        });
        $(document).on('click', '#insert', function () {
            var accName = $('#accName').val();
            var accPass = $('#accPass').val();
            var accDesc = $('#accDesc').val();
            var accType = $('#accType').val();
            var accStatus = $('#accStatus').val();
            var accNote = $('#accNote').val();
            var userId = $('#userId').val();
            var accRecovery = $('#accRecovery').val();
            var accCookie = $('#accCookie').val();
            if (accName.length > 0 && accPass.length > 0 && accDesc.length > 0 && accType.length > 0 && accStatus.length > 0 && userId.length > 0) {
                let dataObj = {
                    accName: accName,
                    accPass: accPass,
                    accDesc: accDesc,
                    accType: accType,
                    accStatus: accStatus,
                    accNote: accNote,
                    userId: userId,
                    accRecovery: accRecovery,
                    accCookie: accCookie,
                }
                $.ajax({
                    url: "/Account/Update",
                    method: "POST",
                    data: { acc: dataObj },
                    success: function (data) {
                        hcShowToast("Thông báo", "Thêm mới thành công", "success", "dark", 4000);
                        $('#acc').DataTable().ajax.reload();
                    }
                });
            } else {
                hcShowToast("Lỗi", "Yêu cầu nhập đầy đủ các trường dữ liệu", "error", "dark", 4000);
                return false;
            }
        });
        // #region ===================================== BATCH DELETE =====================================
        var list_selected = [];
        $('#btnDelete').click(function () {
            $("tr.selected").each(function () {
                list_selected.push($(this).attr("id"));
            });
            if (list_selected.length > 0) {
                Swal.fire({
                    title: 'Bạn có chắc không?',
                    html: 'Xóa <strong>' + list_selected.length + "</strong> tài khoản",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Uh, Xóa nhanh hộ cái!',
                    cancelButtonText: 'Thôi đùa đấy!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        let list_selected_str = list_selected.toString();
                        $.ajax({
                            url: "/Account/BatchDelete/",
                            type: "DELETE",
                            data: {
                                list_selected: list_selected
                            }
                        }).done(function (data) {
                            hcShowToast("Thông báo", "Xóa ID " + list_selected_str + " thành công ", "success", "dark", 4000);
                            $('#detail').DataTable().ajax.reload();
                        }).fail(function (jqXHR) {
                            swal("Có lỗi", jqXHR.status, "error");
                        });
                        list_selected = [];
                    }
                });
            } else {
                hcShowToast("Cảnh báo", "Chưa chọn ID nào xóa sao được", "warning", "dark", 4000);
            }
        });
        // #endregion ===================================== BATCH DELETE =====================================
        
    });
</script>
<!-- #endregion-->