﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    var roleName = Context.Session.GetString("roleName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        if (roleName != "admin")
        {
            Context.Response.Redirect("/Home/Index");
        }
        ViewData["Title"] = "Quản lý Log";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<!-- #region ======================================================== KHUNG HIỆN THỊ ========================================================-->
<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            <ul class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item">Quản lý Log</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown">
                    <li> <a href="javascript:addRowTable.reload()" title="Tải lại dữ liệu" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                    <li><a href="javascript:void(0);" class="full-screen" title="Xem full màn hình"><i class="icon-size-fullscreen"></i></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                            <li><a href="javascript:void(0);">Hành động</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <button id="btnDelete" class="btn btn-danger m-b-15" type="button"><i class="fa fa-trash" aria-hidden="true"></i> Xóa item đang chọn</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="log">
                        <thead class="thead-dark"><tr><th class="font-weight-bold">ID</th><th>Log Detail</th><th>Log Code</th><th>Mô tả</th><th>Ngày tạo</th><th>Ngày cập nhật</th><th>Actions</th></tr></thead>
                        <tfoot class="thead-dark"><tr><th class="font-weight-bold">ID</th><th>Log Detail</th><th>Log Code</th><th>Mô tả</th><th>Ngày tạo</th><th>Ngày cập nhật</th><th>Actions</th></tr></tfoot>
                    </table>
                </div>
                <hr />
                <label>Hightlight log</label><br />
                <div class="input-group">
                    <input id="success_color" type="color" class="form-control" value="#00FF00">
                    <input id="success_text" type="text" class="form-control" value="Thành công, thành công, success, OK">
                    <input id="error_color" type="color" class="form-control" value="#FF0000">
                    <input id="error_text" type="text" class="form-control" value="Thất bại, thất bại, Lỗi, lỗi, Error, error">
                </div>
                <div class="input-group">
                    <input id="warning_color" type="color" class="form-control" value="#f0ad4e">
                    <input id="warning_text" type="text" class="form-control" value="Cảnh báo, cảnh báo, Warning, warning">
                    <input id="info_color" type="color" class="form-control" value="#5bc0de">
                    <input id="info_text" type="text" class="form-control" value="thông tin">
                </div>
                <hr />
                <div class="fancy-checkbox"><label><input id="realtime" disabled type="checkbox"><span>Xem Log Real-time</span></label> </div>
                <textarea disabled name="logDesc" id="logDesc" class="form-control" rows="20"></textarea>
            </div>
        </div>
    </div>
</div>
<!-- #endregion-->
<!-- #region ==================================================== BINDDING DATA VIA AJAX ====================================================-->
<script>
    $(document).ready(function () {
        var addRowTable = {
            options: {
                addButton: "#addToTable",
                table: "#log",
                dialog: {}
            },
            reload: function () {
                this.datatable.ajax.reload();
            },
            initialize: function () {
                this.setVars().build().events()
            },
            setVars: function () {
                return this.$table = $(this.options.table), this.$addButton = $(this.options.addButton), this.dialog = {}, this.dialog.$wrapper = $(this.options.dialog.wrapper), this.dialog.$cancel = $(this.options.dialog.cancelButton), this.dialog.$confirm = $(this.options.dialog.confirmButton), this
            },
            build: function () {
                return this.datatable = $('#log').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
                    "pageLength": 50,
                    "rowId": 'logId',
                    "ajax": {
                        "url": "/Log/List",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "language": default_language,// Biến được định nghĩa trong wwwroot/js/init_ui.js
                    "dom": '<"top"flip<"clear">>rt<"bottom"flip<"clear">>B',
                    "buttons": default_button, // Biến được định nghĩa trong wwwroot/js/init_ui.js
                    "columnDefs": [{
                        orderable: false,
                        className: 'select-checkbox disabled',
                        targets: 0
                    }],
                    "select": {
                        style: 'multi',
                        selector: 'td:first-child',
                    },
                    "columns": [
                        {
                            data: null, render: function (data, type, row) {
                                return '<span class="colId"> ' + row.logId + '</span>';// Hàm được định nghĩa trong wwwroot/js/site.js
                            }
                        }
                        , {
                            "className": 'details-control',
                            "orderable": false,
                            "data": null,
                            "defaultContent": 'Detail'
                        }
                        , { data: "logCode" }
                        , {
                            data: null, render: function (data, type, row) {
                                let data_logDesc = row.logDesc.replace(/'/g, "&apos;").replace(/"/g, "&quot;");
                                return '<button type="button" data-id="' + row.logId + '" data-log="' + encodeHTML(data_logDesc) + '" class="btn btn-primary m-b-15 btnViewLog"><i class="fa fa-eye" aria-hidden="true"></i> System Log</button>';
                            }
                        }
                        , { data: "logCreated" }
                        , { data: "logUpdated" }
                        , {
                            data: null, render: function (data, type, row) {
                                return show_buttton_actions(["remove"]);// Biến được định nghĩa trong wwwroot/js/site.js
                            }
                        }
                    ]
                }), window.dt = this.datatable, this
            },
            events: function () {
                var object = this;
                return this.$table.on("click", "button.button-save", function (e) {
                    e.preventDefault(), object.rowSave($(this).closest("tr"))
                }).on("click", "button.button-discard", function (e) {
                    e.preventDefault(), object.rowCancel($(this).closest("tr"))
                }).on("click", "button.button-edit", function (e) {
                    e.preventDefault(), object.rowEdit($(this).closest("tr"))
                }).on("click", "button.button-remove", function (e) {
                    e.preventDefault();
                    var $row = $(this).closest("tr");
                    swal({
                        title: "Xóa thật đấy a?",
                        text: "Xóa xong là không khôi phục được nữa đâu đấy",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#dc3545",
                        cancelButtonText: 'Thôi không xóa nữa vậy',
                        confirmButtonText: "Xóa thôi, hỏi gì nữa!",
                        closeOnConfirm: false
                    }, function () {
                        object.rowRemove($row)
                        swal("Xóa rồi đấy nhé!", null, "success");
                    });
                }), this.$addButton.on("click", function (e) {
                    e.preventDefault(), object.rowAdd()
                }), this.dialog.$cancel.on("click", function (e) {
                    e.preventDefault(), $.magnificPopup.close()
                }), this
            },
            rowAdd: function () {
                this.$addButton.attr({
                    disabled: "disabled"
                });
                var data, $row;
                data = this.datatable.rows.add([{
                    "logId": "",
                    "logCode": "",
                    "logDesc": "",
                    "logCreated": "",
                    "logUpdated": "",
                }]).draw();
                ($row = this.datatable.row(data[0]).nodes().to$()).addClass("adding").find("td:last").addClass("actions");
                this.rowEdit($row);
                this.handleTooltip($row);
                this.datatable.order([0, "asc"]).draw()
            },
            rowCancel: function ($row) {
                var $actions, data;
                $row.hasClass("adding") ? this.rowRemove($row) : (($actions = $row.find("td div.actions")).find(".button-discard").tooltip("hide"), $actions.get(0) && this.rowSetActionsDefault($row),
                    data = this.datatable.row($row.get(0)).data(),
                    this.datatable.row($row.get(0)).data(data),
                    this.handleTooltip($row),
                    this.datatable.draw())
            },
            rowEdit: function ($row) {
                var data, object = this;
                this.handleTooltip($row);
                data = this.datatable.row($row.get(0)).data();
                $row.children("td").each(function (i) {
                    var $this = $(this);
                    if ($this.children().hasClass("actions")) {
                        object.rowSetActionsEditing($row);
                    } else {
                        var disabled = $this.hasClass("disabled") ? "disabled" : "";
                        $this.html('<input type="text" required class="form-control input-block" value="' + Object.values(data)[i] + '" ' + disabled + ' />');
                    }
                })
            },
            rowSave: function ($row) {
                var object = this, values = [];
                $row.hasClass("adding");
                this.$addButton.removeAttr("disabled");
                $row.removeClass("adding");
                values = $row.find("td").map(function () {
                    var $this = $(this);
                    if ($this.children().hasClass("actions")) {
                        return (object.rowSetActionsDefault($row), object.datatable.cell(this).data());
                    } else {
                        if ($this.children().hasClass("select_userId")) {
                            return $.trim($this.find("select#userId").val());
                        } else {
                            return $.trim($this.find("input").val());
                        }
                    }
                });
                $row.find("td div.actions").find(".button-save").tooltip("hide");
                $.ajax({
                    url: "/Log/Update/",
                    type: "POST",
                    data: {
                        logId: values[0],
                        logName: values[1],
                        logDesc: values[2],
                        logCreated: values[3],
                        userId: values[4],
                    }
                }).done(function (data) {
                    hcShowToast("Thông báo", "Cập nhật thành công", "success", "dark", 3000, false);
                    $('#log').DataTable().ajax.reload();
                }).fail(function (jqXHR) {
                    swal("Có lỗi", jqXHR.status, "error");
                });
            },
            rowRemove: function ($row) {
                var logId = this.datatable.row($row.get(0)).data().logId;
                if (logId != "") {
                    $.ajax({
                        url: "/Log/Delete/" + logId,
                        type: "DELETE",
                    }).done(function (data) {
                        $('#log').DataTable().ajax.reload();
                    }).fail(function (jqXHR) {
                        swal("Có lỗi", jqXHR.status, "error");
                    });
                } else {
                    $('tr.adding').remove();
                    $('#addToTable').removeAttr("disabled");
                }
            },
            rowSetActionsEditing: function ($row) {
                $row.find(".on-editing").removeAttr("hidden"), $row.find(".on-default").attr("hidden", !0)
            },
            rowSetActionsDefault: function ($row) {
                $row.find(".on-editing").attr("hidden", !0), $row.find(".on-default").removeAttr("hidden")
            },
            handleTooltip: function ($row) {
                //$row.find('[data-toggle="tooltip"]').tooltip()
            }
        };
        addRowTable.initialize();
        // #region ===================================== BATCH DELETE =====================================
        var list_selected = [];
        $('#btnDelete').click(function () {
            $("tr.selected").each(function () {
                list_selected.push($(this).attr("id"));
            });
            if (list_selected.length > 0) {
                Swal.fire({
                    title: 'Bạn có chắc không?',
                    html: 'Xóa <strong>' + list_selected.length + "</strong> Log",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Uh, Xóa nhanh hộ cái!',
                    cancelButtonText: 'Thôi đùa đấy!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        let list_selected_str = list_selected.toString();
                        $.ajax({
                            url: "/Log/BatchDelete/",
                            type: "DELETE",
                            data: {
                                list_selected: list_selected
                            }
                        }).done(function (data) {
                            hcShowToast("Thông báo", "Xóa ID " + list_selected_str + " thành công ", "success", "dark", 4000);
                            $('#log').DataTable().ajax.reload();
                        }).fail(function (jqXHR) {
                            swal("Có lỗi", jqXHR.status, "error");
                        });
                        list_selected = [];
                    }
                });
            } else {
                hcShowToast("Cảnh báo", "Chưa chọn ID nào xóa sao được", "warning", "dark", 4000);
            }
        });
        // #endregion ===================================== BATCH DELETE ========================================
        // #region ===================================== VIEW LOG =====================================
        $(document).on({
            click: function () {
                let logId = $(this).data("id");
                let logDesc = $(this).data("log");
                if (logDesc != "") {
                    $("#logDesc").html(decodeHTML(logDesc));
                    $("#realtime").attr("data-id", logId);
                    $("#realtime").attr("disabled", false);
                    hcShowToast("Thông báo", "Tải Log thành công", "success", "dark", 7000);
                    HightlightLog();

                } else {
                    hcShowToast("Thông báo", "Hôm nay chưa có log", "warning", "dark", 7000);
                }
            }
        }, ".btnViewLog");

        $("#realtime").on("change", function () {
            if (this.checked) {
                setInterval(function () {
                    $.ajax({
                        url: "/Log/Get?logId=" + $("#realtime").data("id"),
                        method: "GET",
                        success: function (data) {
                            console.log(data);
                            $("#logDesc").html("");
                            $("#logDesc").html(data[0].logDesc + "\n\n================== Log Real-time ================== " + new Date($.now()));
                            HightlightLog();
                        },
                        error: function (xhr) {
                            $("#logDesc").html(xhr.responseText);
                        },
                    });
                }, 1000);
            } else {
                $("#logDesc").html("Vui lòng chọn lại Log Code muốn xem");
            }
        });
        function HightlightLog() {
            //$('#logDesc').highlightTextarea({
            //    words: [
            //        {
            //            color: $("#error_color").val(),
            //            words: $("#error_text").val().split(','),
            //        }
            //        , {
            //            color: $("#success_color").val(),
            //            words: $("#success_text").val().split(','),
            //        }
            //        , {
            //            color: $("#info_color").val(),
            //            words: $("#info_text").val().split(','),
            //        }
            //        , {
            //            color: $("#warning_color").val(),
            //            words: $("#warning_text").val().split(','),
            //        }
            //    ]
            //});
            //let old_height = $('.highlightTextarea-container').height();
            //if (old_height < 405) {
            //    $('.highlightTextarea-container').height(old_height + 13);
            //}
            $("html, body").animate({ scrollTop: $(document).height() - $(window).height() });
        }
        // #endregion ===================================== VIEW LOG=====================================
        // #region ===================================== Add event listener for opening and closing details ====================================
        $('#log tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = window.dt.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                let data_obj;
                let data_html = "";
                let table_html = "";
                $.ajax({
                    url: "/Detail/GetByLogCodeView?logCode=" + row.data().logCode,
                    method: "GET",
                    success: function (data) {
                        if (data.data.length > 0) {
                            data_obj = data.data;
                            for (var i = 0; i < data_obj.length; i++) {
                                data_html += '<tr id="' + data_obj[i].detailId + '">';
                                data_html += '<td><a class="colId"> ' + data_obj[i].detailId + '</a></td>';
                                data_html += '<td>' + data_obj[i].detailIp + '</td>';
                                data_html += '<td>' + data_obj[i].detailType + '</td>';
                                data_html += '<td>' + (data_obj[i].detailCode != null ? data_obj[i].detailCode : "") + '</td>';
                                data_html += '<td>' + (data_obj[i].detailCreated != "0001-01-01T00:00:00" ? data_obj[i].detailCreated : "") + '</td>';
                                data_html += '<td>' + (data_obj[i].detailUpdated != "0001-01-01T00:00:00" ? data_obj[i].detailUpdated : "") + '</td>';
                                data_html += '<td>' + data_obj[i].timelineName + '</td>';
                                data_html += '<td>' + data_obj[i].actType + '</td>';
                                data_html += '<td>' + data_obj[i].actTime + '</td>';
                                data_html += '<td>' + data_obj[i].actLink + '</td>';
                                data_html += '<td>' + data_obj[i].accName + '</td>';
                                data_html += '<td><div class="viewUserAgent" title="' + data_obj[i].uaDesc + '">' + data_obj[i].uaDesc + '</div></td>';
                                data_html += '<td><button title="Delete Detail" data-id="' + data_obj[i].detailId + '" class="btnDeleteDetail btn btn-sm btn-icon btn-pure btn-danger on-default" data-toggle="tooltip" data-original-title="Xóa"><i class="icon-trash" aria-hidden="true"></i></button></td>';
                                data_html += '</tr>';
                            }

                            table_html = '<table class="table table-bordered table-hover table-striped" id="detail"><thead class="thead-dark"><tr><th class="font-weight-bold">ID</th><th>IP</th><th>Loại</th><th>Code</th><th>Start</th><th>End</th><th>Timeline</th><th>Hành động</th><th>Time</th><th>Link</th><th>Tài khoản</th><th>UserAgent</th><th>Actions</th></tr></thead><tbody>' + data_html + '</tbody><tfoot class="thead-dark"><tr><th class="font-weight-bold">ID</th><th>IP</th><th>Loại</th><th>Code</th><th>Start</th><th>End</th><th>Timeline</th><th>Hành động</th><th>Time</th><th>Link</th><th>Tài khoản</th><th>UserAgent</th><th>Actions</th></tr></tfoot></table>';
                            let btnDeleteDetail = ' <button id="btnDeleteDetail" class="btn btn-danger m-b-15" type="button"><i class="fa fa-trash" aria-hidden="true"></i> Xóa item đang chọn</button><br />';
                            let data_card = '<div class="card"><div class="header"><h2>Detail Log Action <small>Chi tiết các hành động theo logCode ' + row.data().logCode + '</small></h2><ul class="header-dropdown"><li><a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li><li><a href="javascript:void(0);" class="full-screen"><i class="icon-size-fullscreen"></i></a></li></ul></div><div class="body">' + btnDeleteDetail + table_html + '</div></div>'
                            tr.addClass('shown');
                            row.child(data_card).show();
                            hcShowToast("Thông báo", "Đã tải xong dữ liệu thành công", "success", "dark", 3000);
                            $('html,body').animate({ scrollTop: $("#detail").offset().top }, 'slow');
                            // #region ===================================== BATCH DELETE =====================================
                            var list_selected = [];
                            $('#btnDeleteDetail').click(function () {
                                $("tr.selected").each(function () {
                                    list_selected.push($(this).attr("id"));
                                });
                                if (list_selected.length > 0) {
                                    Swal.fire({
                                        title: 'Bạn có chắc không?',
                                        html: 'Xóa <strong>' + list_selected.length + "</strong> Log",
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Uh, Xóa nhanh hộ cái!',
                                        cancelButtonText: 'Thôi đùa đấy!'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            let list_selected_str = list_selected.toString();
                                            $.ajax({
                                                url: "/Detail/BatchDelete/",
                                                type: "DELETE",
                                                data: { list_selected: list_selected }
                                            }).done(function (data) {
                                                hcShowToast("Thông báo", "Xóa ID " + list_selected_str + " thành công ", "success", "dark", 4000);
                                                $("tr.selected").each(function () {
                                                    $("#detail tr#" + $(this).attr("id")).remove();
                                                });
                                            }).fail(function (jqXHR) {
                                                swal("Có lỗi", jqXHR.status, "error");
                                            });
                                        }
                                        list_selected = [];
                                    });
                                } else {
                                    hcShowToast("Cảnh báo", "Chưa chọn ID nào xóa sao được", "warning", "dark", 4000);
                                }
                            });
                            // #endregion ===================================== BATCH DELETE ========================================
                        } else {
                            hcShowToast("Thông báo", "Không ghi nhận log", "warning", "dark", 3000);
                            return;
                        }
                    },
                    error: function (xhr) {
                        hcShowToast("Lỗi", "Không lấy được thông tin chi tiết log của ngày hiện tại", "error", "dark", 3000);
                        console.log(xhr.responseText);
                        return;
                    },
                }).done(function () {
                    if (table_html != "") {
                        var table_detail = $("table#detail").DataTable({
                            "filter": true,
                            "ordering": false,
                            "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
                            "pageLength": 50,
                            "language": default_language,// Biến được định nghĩa trong wwwroot/js/init_ui.js
                            "dom": '<"top"flip<"clear">>rt<"bottom"flip<"clear">>B',
                            "buttons": default_button, // Biến được định nghĩa trong wwwroot/js/init_ui.js
                            "columnDefs": [{ orderable: true, className: 'select-checkbox disabled', targets: 0 }],
                            "select": { style: 'multi', selector: 'td:first-child', }
                        });
                        $('table#detail thead th').each(function (i) {
                            var title = $('table#detail tfoot th').eq($(this).index()).text();
                            switch (title) {
                                case "ID":
                                case "Actions":
                                    $(this).html('Tìm kiếm');
                                    break;
                                default:
                                    $(this).html('<input class="form-control" type="text" placeholder="' + title + '" data-index="' + i + '" />');
                                    break;
                            }
                        });
                        // Filter event handler
                        $(table_detail.table().container()).on('keyup', 'thead input', function () {
                            table_detail.column($(this).data('index')).search(this.value).draw();
                        });
                        $("div.top").addClass("row");
                        $("div.bottom").addClass("row");
                        $("div.dataTables_wrapper div.dataTables_filter").addClass("col-md-3");
                        $("div.dataTables_wrapper div.dataTables_length").addClass("col-md-2");
                        $("div.dataTables_wrapper div.dataTables_info").addClass("col-md-3");
                        $("div.dataTables_wrapper div.dataTables_paginate").addClass("col-md-4");
                        $(".dt-buttons").addClass("btn-group");
                    }
                });

            }
        });
        $(document).on({
            click: function () {
                let detailId = $(this).data("id");
                if (detailId != "") {
                    $.ajax({
                        url: "/Detail/Delete/" + detailId,
                        method: "DELETE",
                        success: function (data) {
                            console.log(data.result);
                            if (data.result) {
                                $("table#detail tr#" + detailId).remove();
                                hcShowToast("Thông báo", "Xóa thành công", "success", "dark", 3000);
                            } else {
                                hcShowToast("Thông báo", "Không có dữ liệu", "warning", "dark", 3000);
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr.responseText);
                            hcShowToast("Lỗi API", "Bấm F12 xem log", "warning", "dark", 3000);
                        },
                    });
                } else {
                    hcShowToast("Thông báo", "Hôm nay chưa có log", "warning", "dark", 3000);
                }
            }
        }, ".btnDeleteDetail");
        // #endregion ===================================== Add event listener for opening and closing details ====================================
    });
</script>
<!-- #endregion-->