﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    if (userName == null)
    {
        ViewData["Title"] = "Đăng nhập hệ thống";
        Layout = "~/Views/Shared/_Layout_Login.cshtml";
        <style>
            body {
                background-color: #212529 !important;
            }
        </style>
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="mobile-logo"><a href="/"><img src="~/assets/images/logo-icon.svg" alt="Mplify"></a></div>
                    <div class="auth-left">
                        <div class="left-top">
                            <a href="/">
                                <img src="~/assets/images/logo-icon.svg" alt="Logo SEO">
                                <span>Mplify</span>
                            </a>
                        </div>
                        <div class="left-slider">
                            <img src="~/assets/images/login/2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="auth-right">
                        <div class="right-top">
                            <ul class="list-unstyled clearfix d-flex">
                                <li><a href="/"><i class="fa fa-home"></i></a></li>
                                <li><a href="skype:hoanchu.it?chat">Hỗ trợ</a></li>
                                <li><a href="/"><i class="fa fa-map-marker"></i></a></li>
                                <li>IP: <a id="userDesc"></a></li>
                            </ul>
                        </div>
                        <div class="card">
                            <div class="header">
                                <p class="lead">Đăng nhập hệ thống</p>
                            </div>
                            <div class="body">
                                <div id="frmLogin" class="form-auth-small">
                                    <div class="form-group">
                                        <label for="userName" class="control-label sr-only">Tài khoản</label>
                                        <input type="text" class="form-control" id="userName" value="" placeholder="Tài khoản" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label for="userPass" class="control-label sr-only">Mật khẩu</label>
                                        <input type="password" class="form-control" id="userPass" value="" placeholder="Mật khẩu" required>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="fancy-checkbox element-left">
                                            <input id="cbRemember" type="checkbox">
                                            <span>Ghi nhớ đăng nhập</span>
                                        </label>
                                    </div>
                                    <button type="button" id="btnLogin" class="btn btn-primary btn-lg btn-block">ĐĂNG NHẬP</button>
                                    <div class="bottom">
                                        <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="/User/Forgot">Khôi phục mật khẩu?</a></span>
                                        <span>Bạn chưa có tài khoản? <a href="/User/Register">Đăng ký ngay</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        Context.Response.Redirect("/Home/Index");
    }
}