﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    var roleName = Context.Session.GetString("roleName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        ViewData["Title"] = "Bảng điều khiển";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">
            <h2>Dashboard</h2>
        </div>
        <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            <ul class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="/Home/Index"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="card">
            <div class="header">
                <h2><strong>THỐNG KÊ</strong></h2>
                <ul class="header-dropdown">
                    <li> <a href="javascript:void(0);" id="countall" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                    <li><a href="javascript:void(0);" class="full-screen"><i class="icon-size-fullscreen"></i></a></li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover m-b-5">
                        <tbody>
                            <tr><td><i class="fa fa-feed fa-2x"></i></td><td><p class="margin-0"><a href="/Timeline/Index">Timeline</a></p></td><td><h6 class="m-b-0"><span id="timelime">0</span></h6></td></tr>
                            <tr><td><i class="fa fa-cog fa-2x"></i></td><td><p class="margin-0"><a href="/Actions/Auto">Actions</a></p></td><td><h6 class="m-b-0"><span id="actions">0</span></h6></td></tr>
                            <tr><td><i class="fa fa-comments fa-2x"></i></td><td><p class="margin-0"><a href="/Comment/Index">Comment</a></p></td><td><h6 class="m-b-0"><span id="comment">0</span></h6></td></tr>
                            <tr><td><i class="fa fa-users fa-2x"></i></td><td><p class="margin-0"><a href="/Account/Index">Tài khoản</a></p></td><td><h6 class="m-b-0"><span id="account">0</span></h6></td></tr>
                            <tr><td><i class="fa fa-ticket fa-2x"></i></td><td><p class="margin-0"><a href="/Channel/Index">Channel</a></p></td><td><h6 class="m-b-0"><span id="channel">0</span></h6></td></tr>
                            <tr><td><i class="fa fa-user-secret fa-2x"></i></td><td><p class="margin-0"><a href="/UserAgent/Index">UserAgent</a></p></td><td><h6 class="m-b-0"><span id="useragent">0</span></h6></td></tr>
                            <tr><td><i class="fa fa-graduation-cap fa-2x"></i></td><td><p class="margin-0"><a href="/Model/Index">Model</a></p></td><td><h6 class="m-b-0"><span id="model">0</span></h6></td></tr>
                            <tr><td><i class="fa fa-server fa-2x"></i></td><td><p class="margin-0"><a href="/VPS/Index">VPS</a></p></td><td><h6 class="m-b-0"><span id="vps">0</span></h6></td></tr>
                            <tr><td colspan="3"><br /><h4>Administrator</h4><br /></td></tr>
                            <tr><td><i class="fa fa-user fa-2x"></i></td><td><p class="margin-0"><a href="/User/Index">Người dùng</a></p></td><td><h6 class="m-b-0"><span id="user">0</span></h6></td></tr>
                            <tr><td><i class="fa fa-shield fa-2x"></i></td><td><p class="margin-0"><a href="/Role/Index">Role</a></p></td><td><h6 class="m-b-0"><span id="role">0</span></h6></td></tr>
                            <tr><td><i class="fa fa-history fa-2x"></i></td><td><p class="margin-0"><a href="/Log/Index">Log</a></p></td><td><h6 class="m-b-0"><span id="log"></span></h6></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        function countall() {
            $.ajax({
                url: "/Home/CountAll",
                method: "GET",
                success: function (data) {
                    if (data.data.code == "success") {
                        $("span#timelime").html(data.data.timelime);
                        $("span#actions").html(data.data.actions);
                        $("span#user").html(data.data.user);
                        $("span#link").html(data.data.link);
                        $("span#comment").html(data.data.comment);
                        $("span#account").html(data.data.account);
                        $("span#channel").html(data.data.channel);
                        $("span#useragent").html(data.data.useragent);
                        $("span#model").html(data.data.model);
                        $("span#vps").html(data.data.vps);
                        $("span#role").html(data.data.role);
                    } else {
                        setTimeout(function () { $("#countall").trigger("click"); }, 3000);
                    }
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                    hcShowToast("Lỗi", "Lỗi API đếm dữ liệu, F12 xem log", "success", "dark", 4000);
                },
            });
        }
        $("#countall").click(function () {
            countall();
        });
        countall();
    });
</script>
@*<script src="~/assets/bundles/chartist.bundle.js"></script>
    <script src="~/assets/bundles/morrisscripts.bundle.js"></script>
    <script src="~/assets/js/index.js"></script>*@