﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    var roleName = Context.Session.GetString("roleName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        ViewData["Title"] = "Chỉnh sửa - " + @Model.timelineName;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div id="frmTimeline">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>@{@Model.timelineName}</h2>
            </div>
            <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                <ul class="breadcrumb justify-content-end">
                    <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Chỉnh sửa kịch bản timeline</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <ul class="header-dropdown">
                        <li> <a href="javascript:addRowTable.reload()" title="Tải lại dữ liệu" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                        <li><a href="javascript:void(0);" class="full-screen" title="Xem full màn hình"><i class="icon-size-fullscreen"></i></a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                                <li><a href="javascript:void(0);">Hành động</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div id="div_timeline" class="row">
                        <div class="col-md-4">
                            <input type="hidden" name="timelineId" id="timelineId" class="form-inline form-control" value="@Model.timelineId" disabled>
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Kịch bản</span>
                                </div>
                                <input required aria-label="Large" aria-describedby="inputGroup-sizing-lg" type="text" name="timelineName" id="timelineName" class="form-control" value="@Model.timelineName">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Loại</span>
                                </div>
                                <input required aria-label="Large" aria-describedby="inputGroup-sizing-lg" type="text" name="timelineType" id="timelineType" class="form-control" value="@Model.timelineType">
                            </div>
                        </div>
                    </div><br /><hr />
                    <div id="div_actions" class="row">
                        <div class="col-md-4">
                            <h2>Chỉnh sửa hành động</h2>
                            <input type="hidden" name="actId" id="actId" class="form-inline form-control" value="" disabled />
                        </div>
                        <div class="col-md-8">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="selectAction">Hành động</label>
                                </div>
                                <select id="selectAction" name="selectAction" class="form-control show-tick ms search-select">
                                    <optgroup label="Youtube">
                                        <option value="yt_login">Đăng nhập Youtube</option>
                                        <option value="yt_view">Xem video</option>
                                        <option value="yt_like">Like video</option>
                                        <option value="yt_dislike">Dislike video</option>
                                        <option value="yt_comment">Bình luận Youtube</option>
                                        <option value="yt_search">Tìm kiếm video Youtube</option>
                                        <option value="yt_back">Youtube Back</option>
                                    </optgroup>
                                    <optgroup label="Google">
                                        <option value="gg_search">Tìm kiếm Google</option>
                                        <option value="gg_back">Google Back</option>
                                    </optgroup>
                                    <optgroup label="Facebook">
                                        <option value="fb_login">Đăng nhập Facebook</option>
                                        <option value="fb_post">Đăng bài viết</option>
                                        <option value="fb_like">Like - Reaction</option>
                                        <option value="fb_comment">Bình luận Facebook</option>
                                        <option value="fb_share">Chia sẻ bài viết</option>
                                        <option value="fb_search">Tìm kiếm bài viết</option>
                                        <option value="fb_back">Facebook Back</option>
                                        @*<option disabled value="fb_view_livestream">Xem livestream</option>
                                            <option disabled value="fb_view_video">Xem video</option>
                                            <option disabled value="fb_view_watch">Xem video trong watch</option>
                                            <option disabled value="fb_add_friend">Kết bạn</option>
                                            <option disabled value="fb_agree_friend">Đồng ý kết bạn</option>
                                            <option disabled value="fb_unfriend">Hủy kết bạn</option>
                                            <option disabled value="fb_like_page">Like page</option>
                                            <option disabled value="fb_join_group">Vào nhóm</option>
                                            <option disabled value="fb_leave_group">Thoát nhóm</option>
                                            <option disabled value="fb_invite_group">Vào bạn bè nhóm</option>*@
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group hide">
                                <label for="actName">Tên hành động</label>
                                <input type="text" name="actName" id="actName" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Thời gian: min 5s -- max 120000s (2000 phút)</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-clock"></i></span>
                                    </div>
                                    <input id="actTime" type="number" max="120000" min="5" class="form-control" placeholder="5" value="5" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="actStatus">Trạng thái</label>
                                <select class="form-control" name="actStatus" id="actStatus">
                                    <option value="active">Active</option>
                                    <option value="deactive">Deactive</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="userId">Người tạo</label>
                                <select name="userId" id="userId" class="form-control" required></select>
                            </div>
                            <div class="form-group">
                                <label for="actMode">Mode</label>
                                <select class="form-control" name="actMode" id="actMode">
                                    <option value="">-- No select --</option>
                                    <option value="New">New</option>
                                    <option value="Old">Old</option>
                                </select>
                            </div>
                            <button id="btnSaveActions" class="btn btn-primary m-b-15" type="button"><i class="fa fa-save" aria-hidden="true"></i> &nbsp; Lưu lại</button>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group" id="post_to">
                                <label>Đăng lên</label><br />
                                <label class="fancy-radio">
                                    <input id="rdo_myself" checked type="radio" name="actTo" value="myself">
                                    <span><i></i>Trang cá nhân</span>
                                </label>
                                <label class="fancy-radio">
                                    <input id="rdo_group" type="radio" name="actTo" value="group">
                                    <span><i></i>Group</span>
                                </label>
                            </div>
                            <div class="form-group" id="reaction">
                                <label>Reaction</label><br />
                                <label>
                                    <input id="rdo_like" checked type="radio" name="actReaction" value="like">
                                    <span class="rdo_like"></span>
                                </label>
                                <label>
                                    <input id="rdo_love" class="" type="radio" name="actReaction" value="love">
                                    <span class="rdo_love"></span>
                                </label>
                                <label>
                                    <input id="rdo_haha" class="" type="radio" name="actReaction" value="haha">
                                    <span class="rdo_haha"></span>
                                </label>
                                <label>
                                    <input id="rdo_wow" class="" type="radio" name="actReaction" value="wow">
                                    <span class="rdo_wow"></span>
                                </label>
                                <label>
                                    <input id="rdo_sad" class="" type="radio" name="actReaction" value="sad">
                                    <span class="rdo_sad"></span>
                                </label>
                                <label>
                                    <input id="rdo_angry" class="" type="radio" name="actReaction" value="angry">
                                    <span class="rdo_angry"></span>
                                </label>
                            </div>
                            <div class="form-group" id="desc">
                                <label>Nội dung<small>(Tìm kiếm: từ khóa 1 | từ khóa 2 | từ khóa 3)</small></label>
                                <textarea id="actDesc" class="form-control" rows="5" cols="30" required maxlength="500"></textarea>
                            </div>
                            <div class="form-group" id="link">
                                <label>Link</label>
                                <textarea id="actLink" class="form-control" rows="5" cols="30" required></textarea>
                            </div>
                            <div class="form-group" id="comment">
                                <label>Nội dung bình luận (Hỗ trợ spin content dạng: Nội dung 1 | Nội dung 2 | Nội dung 3)</label>
                                <textarea id="actComment" class="form-control" rows="5" cols="30" required></textarea>
                            </div>
                            <div class="form-group" id="group">
                                <label>Mỗi group id hoặc link 1 dòng</label>
                                <textarea id="actDestination" class="form-control" rows="5" cols="30" required></textarea>
                            </div>
                            <div class="form-group" id="image">
                                <label>Hình ảnh</label>
                                <input type="file" id="dropify-event" name="actImages" multiple required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>Danh sách các hành động</h2>
                    <ul class="header-dropdown">
                        <li> <a href="javascript:addRowTable.reload()" title="Tải lại dữ liệu" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                        <li><a href="javascript:void(0);" class="full-screen" title="Xem full màn hình"><i class="icon-size-fullscreen"></i></a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                                <li><a href="javascript:void(0);">Hành động</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="actions">
                            <thead><tr><th class="font-weight-bold">ID</th><th>Loại</th><th>Link</th><th>Comment</th><th>Time</th><th>Reaction</th><th>Nội dung</th><th>Đăng lên</th><th>Status</th><th>Actions</th></tr></thead>
                            <tfoot><tr><th class="font-weight-bold">ID</th><th>Loại</th><th>Link</th><th>Comment</th><th>Time</th><th>Reaction</th><th>Nội dung</th><th>Đăng lên</th><th>Status</th><th>Actions</th></tr></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/User/Get",
            type: "GET",
            success: function (data) {
                list_user = data.data;
                let user_html = "";
                for (let i = 0; i < list_user.length; i++) {
                    //let selected = (data.userId == list_user[i].userId) ? "selected" : "";
                    let selected = "";
                    user_html += '<option value="' + list_user[i].userId + '"' + selected + '>' + list_user[i].userName + '</option>';
                }
                $('#userId').html('<select id="userId" class="form-control">' + user_html + '</select>');
                let userName = "@userName";
                console.log(userName);
                setTimeout(function () {
                    $("#userId option").filter(function () {
                        return $(this).text() == userName;
                    }).prop('selected', true);
                }, 1000);
            }
        });
        if ($('input[name="actTo"]:checked').val() == "myself") {
            $("#group").hide();
        } else {
            $("#group").show();
        }
        $('input[name=actTo]').change(function () {
            if (this.value == 'group') {
                $("#group").show();
            } else {
                $("#group").hide();
            }
        });
        $('#selectAction').select2();
        $('#selectAction').on('click', function () {
            ResetForm();
        });
        $('#selectAction').on('change', function () {
            switch (this.value) {
                case "fb_post":
                    $("#desc").show();
                    $("#post_to").show();
                    $("#link").hide();
                    $("#comment").hide();
                    $("#reaction").hide();
                    break;
                case "fb_like":
                    $("#reaction").show();
                    $("#group").hide();
                    $("#link").show();
                    $("#post_to").hide();
                    $("#desc").hide();
                    $("#comment").hide();
                    $("#image").hide();
                    break;
                case "fb_comment":
                    $("#comment").show();
                    $("#link").show();
                    $("#desc").hide();
                    $("#group").hide();
                    $("#reaction").hide();
                    $("#image").hide();
                    $("#post_to").hide();
                    break;
                case "fb_share":
                    $("#share").show();
                    $("#post_to").show();
                    $("#link").show();
                    $("#desc").show();
                    $("#comment").hide();
                    $("#reaction").hide();
                    break;
                case "yt_view":
                case "yt_like":
                case "yt_dislike":
                    $("#link").show();
                    $("#post_to").hide();
                    $("#share").hide();
                    $("#desc").hide();
                    $("#group").hide();
                    $("#comment").hide();
                    $("#reaction").hide();
                    $("#image").hide();
                    break;
                case "yt_comment":
                    $("#link").show();
                    $("#desc").hide();
                    $("#comment").show();
                    $("#reaction").hide();
                    $("#post_to").hide();
                    $("#image").hide();
                    break;
                case "gg_search":
                case "fb_search":
                case "yt_search":
                    $("#desc").show();
                    $("#link").show();
                    $("#post_to").hide();
                    $("#share").hide();
                    $("#group").hide();
                    $("#comment").hide();
                    $("#reaction").hide();
                    $("#image").hide();
                    break;
                case "fb_login":
                case "yt_login":
                case "fb_back":
                case "yt_back":
                    $("#desc").hide();
                    $("#link").hide();
                    $("#post_to").hide();
                    $("#share").hide();
                    $("#group").hide();
                    $("#comment").hide();
                    $("#reaction").hide();
                    $("#image").hide();
                    break;
            }
        });
        $('#selectAction').trigger('change');

    });
    // #region ==================================================== Lấy dữ liệu của người dùng ====================================================-->
    var list_user = [];
    $(document).ready(function () {
        $.ajax({
            url: "/User/Get",
            type: "GET",
            success: function (data) {
                list_user = data.data;
            }
        });
    });
    // #endregion

    // #region ==================================================== Truyền dữ liệu vào datatables ====================================================-->
    var addRowTable = {
        options: {
            addButton: "#addToTable",
            table: "#actions",
            dialog: {}
        },
        reload: function () {
            this.datatable.ajax.reload();
        },
        initialize: function () {
            this.setVars().build().events()
        },
        setVars: function () {
            return this.$table = $(this.options.table), this.$addButton = $(this.options.addButton), this.dialog = {}, this.dialog.$wrapper = $(this.options.dialog.wrapper), this.dialog.$cancel = $(this.options.dialog.cancelButton), this.dialog.$confirm = $(this.options.dialog.confirmButton), this
        },
        build: function () {
            return this.datatable = $('#actions').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
                "pageLength": 50,
                "rowId": "actId",
                "ajax": {
                    "url": "/Actions/GetByTimelineId?timelineId=" + @Model.timelineId,
                    "type": "POST",
                    "datatype": "json"
                },
                "language": default_language,// Biến được định nghĩa trong wwwroot/js/init_ui.js
                "dom": '<"top"flip<"clear">>rt<"bottom"flip<"clear">>B',
                "buttons": default_button, // Biến được định nghĩa trong wwwroot/js/init_ui.js
                "columnDefs": [{
                    orderable: false,
                    className: 'select-checkbox disabled',
                    targets: 0
                }],
                "select": {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                "columns": [
                    {
                        data: null, render: function (data, type, row) {
                            return '<span class="colId">' + row.actId + '<span>';
                        }
                    }
                    , { data: "actType" }
                    , { data: "actLink" }
                    , { data: "actComment" }
                    , { data: "actTime" }
                    , { data: "actReaction" }
                    , { data: "actDesc" }
                    , {
                        data: null, render: function (data, type, row) {
                            switch (row.actTo) {
                                case "group": return "Nhóm"; break;
                                case "myself": return "Trang cá nhân"; break;
                                default: return "Unknown"; break;
                            }
                        }
                    }
                    , { data: "actStatus" }
                    , {
                        data: null, render: function (data, type, row) {
                            return '<a class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5" href="javascript:editAction(' + row.actId + ')"><i class="icon-pencil" aria-hidden="true"></i></a><button class="btn btn-sm btn-icon btn-pure btn-danger on-default button-remove" data-id="' + row.actId + '" data-toggle="tooltip" data-original-title="Xóa"><i class="icon-trash" aria-hidden="true"></i></button>';
                        }
                    }
                ]
            }), window.dt = this.datatable, this
        },
        events: function () {
            var object = this;
            return this.$table.on("click", "button.button-save", function (e) {
                e.preventDefault(), object.rowSave($(this).closest("tr"))
            }).on("click", "button.button-discard", function (e) {
                e.preventDefault(), object.rowCancel($(this).closest("tr"))
            }).on("click", "button.button-edit", function (e) {
                e.preventDefault(), object.rowEdit($(this).closest("tr"))
            }).on("click", "button.button-remove", function (e) {
                var $row = $(this).closest("tr");
                e.preventDefault();
                swal({
                    title: "Xóa thật đấy a?",
                    text: "Xóa xong là không khôi phục được nữa đâu đấy",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#dc3545",
                    cancelButtonText: 'Thôi không xóa nữa vậy',
                    confirmButtonText: "Xóa thôi, hỏi gì nữa!",
                    closeOnConfirm: false
                }, function () {
                    object.rowRemove($row)
                    swal("Xóa rồi đấy nhé!", null, "success");
                });
            }), this.$addButton.on("click", function (e) {
                e.preventDefault(), object.rowAdd()
            }), this.dialog.$cancel.on("click", function (e) {
                e.preventDefault(), $.magnificPopup.close()
            }), this
        },
        rowAdd: function () {
            this.$addButton.attr({
                disabled: "disabled"
            });
            var data, $row;
            data = this.datatable.rows.add([{
                "actId": "",
                "actName": "",
                "actDesc": ""
            }]).draw();
            ($row = this.datatable.row(data[0]).nodes().to$()).addClass("adding").find("td:last").addClass("actions");
            this.rowEdit($row);
            this.handleTooltip($row);
            this.datatable.order([0, "asc"]).draw()
        },
        rowCancel: function ($row) {
            var $actions, data;
            $row.hasClass("adding") ? this.rowRemove($row) : (($actions = $row.find("td div.actions")).find(".button-discard").tooltip("hide"), $actions.get(0) && this.rowSetActionsDefault($row),
                data = this.datatable.row($row.get(0)).data(),
                this.datatable.row($row.get(0)).data(data),
                this.handleTooltip($row),
                this.datatable.draw())
        },
        rowEdit: function ($row) {
            var data, object = this;
            this.handleTooltip($row);
            data = this.datatable.row($row.get(0)).data();
            $row.children("td").each(function (i) {
                var $this = $(this);
                if ($this.children().hasClass("actions")) {
                    object.rowSetActionsEditing($row);
                } else {
                    var disabled = $this.hasClass("disabled") ? "disabled" : "";
                    $this.html('<input type="text" required class="form-control input-block" value="' + Object.values(data)[i] + '" ' + disabled + ' />');
                }
            })
        },
        rowSave: function ($row) {
            var object = this, values = [];
            $row.hasClass("adding");
            this.$addButton.removeAttr("disabled");
            $row.removeClass("adding");
            values = $row.find("td").map(function () {
                var $this = $(this);
                return $this.children().hasClass("actions") ? (object.rowSetActionsDefault($row), object.datatable.cell(this).data()) : $.trim($this.find("input").val())
            });
            $row.find("td div.actions").find(".button-save").tooltip("hide");
            $.ajax({
                url: "/Timeline/Update/",
                type: "POST",
                data: {
                    timelineId: values[0],
                    timelineName: values[1],
                    timelineType: values[2]
                }
            }).done(function (data) {
                $('#actions').DataTable().ajax.reload();
            }).fail(function (jqXHR) {
                swal("Có lỗi", jqXHR.status, "error");
            });
        },
        rowRemove: function ($row) {
            var actId = this.datatable.row($row.get(0)).data().actId;
            if (actId != "") {
                $.ajax({
                    url: "/Actions/Delete/" + actId,
                    type: "DELETE",
                }).done(function (data) {
                    $('#actions').DataTable().ajax.reload();
                }).fail(function (jqXHR) {
                    swal("Có lỗi", jqXHR.status, "error");
                });
            } else {
                $('tr.adding').remove();
                $('#addToTable').removeAttr("disabled");
            }
        },
        rowSetActionsEditing: function ($row) {
            $row.find(".on-editing").removeAttr("hidden"), $row.find(".on-default").attr("hidden", !0)
        },
        rowSetActionsDefault: function ($row) {
            $row.find(".on-editing").attr("hidden", !0), $row.find(".on-default").removeAttr("hidden")
        },
        handleTooltip: function ($row) {
            $row.find('[data-toggle="tooltip"]').tooltip()
        }
    };
     // #endregion

    // #region =========================================== Truyền dữ liệu vào datatables và lưu actions ===================================-->
    $(function () {
        addRowTable.initialize();
        $('#btnSaveActions').click(function () {
            var actId = $('#actId').val();
            var actName = $('#actName').val();
            var actDesc = $('#actDesc').val();
            var actType = $('select#selectAction').val();
            var actLink = $('#actLink').val();
            var actComment = $('#actComment').val();
            var actTime = $('#actTime').val();
            var actDestination = $('#actDestination').val();
            var actImages = $('#actImages').val();
            var actReaction = $("input[name=actReaction][type='radio']:checked").val();
            var actStatus = $('#actStatus').val();
            var actMode = $('#actMode').val();
            var userId = $('#userId').val();
            var timelineId = $('#timelineId').val();
            var actTo = $("input[name=actTo][type='radio']:checked").val();
            let data_action = {
                actId: actId,
                actName: actName,
                actDesc: actDesc,
                actType: actType,
                actLink: actLink,
                actComment: actComment,
                actTime: actTime,
                actDestination: actDestination,
                actImages: actImages,
                actReaction: actReaction,
                actStatus: actStatus,
                actMode: actMode,
                userId: userId,
                timelineId: timelineId,
                actTo: actTo,
            }
            //console.log(data_action);
            //return false;
            $.ajax({
                url: "/Actions/Update",
                method: "POST",
                data: { act: data_action },
                success: function (data) {
                    let UpdateOrInsert = $("#actId").val() == "" ? "Thêm mới" : "Cập nhật";
                    if (data.result >= 1) {
                        hcShowToast("Thông báo", UpdateOrInsert + " thành công", "success", "dark", 3000);
                        $('#actions').DataTable().ajax.reload();
                        $('#actId').val("");
                        ResetForm();
                    } else {
                        hcShowToast("Lỗi", UpdateOrInsert + " thất bại", "success", "dark", 3000);
                    }
                },
                error: function (xhr) {
                    hcShowToast("Lỗi", xhr.responeText, "error", "dark", 10000);
                },

            });
        });
    });
     // #endregion

    // #region =========================================== Xóa dữ liệu form sau khi lưu ===================================-->
    function ResetForm() {
        //$('#actId').val("");
        // Không reset tiêu đề timline
        let timelineName = $("#timelineName").val();
        let timelineType = $("#timelineType").val();
        // Reset form về mặc định
        $("input[type=text], textarea").val("");
        $("input[type=file]").val("");
        $('input[type=radio]').prop('checked', false);
        // Không reset tiêu đề timline
        $("#timelineName").val(timelineName);
        $("#timelineType").val(timelineType);
    }
     // #endregion

    // #region =========================================== Sửa trực tiếp từng action ===================================-->
    function editAction(actId) {
        $.ajax({
            url: "/Actions/Get?actId=" + actId,
            method: "GET",
            success: function (data) {
                if (data.data != null) {
                    hcShowToast("Thông báo", "Đã tải dữ liệu thành công, vui lòng sửa nội dung", "warning", "dark", 5000);
                    $("html, body").animate({ scrollTop: 250 }, 500);
                    // Gán dữ liệu cần sửa vào để sửa
                    let data_act = data.data[0];
                    $("#actId").val(data_act.actId);
                    $("#actName").val(data_act.actName);
                    $("#actLink").val(data_act.actLink);
                    $("#actComment").val(data_act.actComment);
                    $("#actTime").val(data_act.actTime);
                    $("#actDestination").val(data_act.actDestination);
                    $("#actStatus").val(data_act.actStatus);
                    $("#actDesc").html(data_act.actDesc);
                    $("#actStatus").val(data_act.actStatus);
                    $("#actMode").val(data_act.actMode);
                    $("select#userId").val(data_act.userId).trigger("change");
                    $("select#selectAction").val(data_act.actType).trigger("change");
                    // Đổi lại trạng thái cho các select và radio
                    $('input:radio[name=actReaction][value=' + data_act.actReaction + ']').click();
                    $('input:radio[name=actTo][value=' + data_act.actTo + ']').click();
                } else {
                    hcShowToast("Lỗi", "Tải dữ liệu thất bại", "error", "dark", 5000);
                }
            },
            error: function (xhr) {
                hcShowToast("Lỗi", xhr.responeText, "error", "dark", 10000);
            },
        });// end editAction()
    }  // end document ready
     // #endregion
</script>