﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    var roleName = Context.Session.GetString("roleName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        ViewData["Title"] = "Quản lý kịch bản Timeline";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<!-- #region ======================================================== KHUNG HIỆN THỊ ========================================================-->
<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            <ul class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item">@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown">
                    <li> <a href="javascript:addRowTable.reload()" title="Tải lại dữ liệu" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                    <li><a href="javascript:void(0);" class="full-screen" title="Xem full màn hình"><i class="icon-size-fullscreen"></i></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                            <li><a href="javascript:void(0);">Hành động</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="panelTool" class="row">
                    <div class="col-md-6">
                        <button id="addRow" class="btn btn-primary m-b-15" type="button" title="Insert"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                        <button id="btnDuplicate" class="btn btn-success m-b-15" type="button" title="Alt + C"><i class="fa fa-copy" aria-hidden="true"></i> Nhân bản item đang chọn</button>
                        <button id="btnDelete" class="btn btn-danger m-b-15" type="button" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i> Xóa item đang chọn</button>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group">
                            <select class="custom-select" id="quickStatus">
                                <option value="active">Active</option>
                                <option value="deactive">Deactive</option>
                            </select>
                            <button data-model="Timeline" id="btnUpdateStatus" class="btn btn-warning m-b-15" type="button" title="Cập nhật trạng thái nhanh"><i class="fa fa-upload" aria-hidden="true"></i> Cập nhật trạng thái</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped" id="timeline">
                                <thead><tr><th class="font-weight-bold">ID</th><th>Tên Timeline</th><th>Loại</th><th>Ngày tạo</th><th>Trạng thái</th><th>Người tạo</th><th>Tài khoản</th><th>UserAgent</th><th>VPS</th><th>Delay</th><th>Repeat</th><th>Actions</th></tr></thead>
                                <tfoot><tr><th class="font-weight-bold">ID</th><th>Tên Timeline</th><th>Loại</th><th>Ngày tạo</th><th>Trạng thái</th><th>Người tạo</th><th>Tài khoản</th><th>UserAgent</th><th>VPS</th><th>Delay</th><th>Repeat</th><th>Actions</th></tr></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion-->
<!-- #region ==================================================== BINDDING DATA VIA AJAX ====================================================-->
<script>
    var list_user = [];
    var list_timeline = [];
    $.ajax({
        url: "/User/Get",
        type: "GET",
        success: function (data) {
            list_user = data.data;
        }
    });
    var list_acc = [];
    $.ajax({
        url: "/Account/Get",
        type: "GET",
        success: function (data) {
            list_acc = data.data;
        }
    });
    var list_useragent = [];
    $.ajax({
        url: "/UserAgent/Get",
        type: "GET",
        success: function (data) {
            list_useragent = data.data;
        }
    });
    var list_vps = [];
    $.ajax({
        url: "/VPS/Get",
        type: "GET",
        success: function (data) {
            list_vps = data.data;
        }
    });
    var addRowTable = {
        options: {
            addButton: "#addToTable",
            table: "#timeline",
            dialog: {}
        },
        reload: function () {
            this.datatable.ajax.reload();
        },
        initialize: function () {
            this.setVars().build().events()
        },
        setVars: function () {
            return this.$table = $(this.options.table), this.$addButton = $(this.options.addButton), this.dialog = {}, this.dialog.$wrapper = $(this.options.dialog.wrapper), this.dialog.$cancel = $(this.options.dialog.cancelButton), this.dialog.$confirm = $(this.options.dialog.confirmButton), this
        },
        build: function () {
            return this.datatable = $('#timeline').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
                "pageLength": 50,
                "rowId": "timelineId",
                "ajax": {
                    "url": "/Timeline/List",
                    "type": "POST",
                    "datatype": "json"
                },
                "language": default_language,// Biến được định nghĩa trong wwwroot/js/init_ui.js
                "dom": '<"top"flip<"clear">>rt<"bottom"flip<"clear">>B',
                "buttons": default_button, // Biến được định nghĩa trong wwwroot/js/init_ui.js
                "columnDefs": [{
                    orderable: false,
                    className: 'select-checkbox disabled',
                    targets: 0
                }],
                "select": {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                "columns": [
                    {
                        data: null, render: function (data, type, row) {
                            return '<span class="colId">' + row.timelineId + '</span>';// Hàm được định nghĩa trong wwwroot/js/site.js
                        }
                    },
                    {
                        data: null, render: function (data, type, row) {
                            return '<a href="/Timeline/Edit/' + row.timelineId +'">' + row.timelineName + '</a>';// Hàm được định nghĩa trong wwwroot/js/site.js
                        }
                    }
                    , { data: "timelineType" }
                    , { data: "timelineCreated" }
                    , { data: "timelineStatus" }
                    , {
                        data: null, render: function (data, type, row) {
                            for (let i = 0; i < list_user.length; i++) {
                                if (data.userId == list_user[i].userId) {
                                    return list_user[i].userName;
                                }
                            }
                            return 'Unknown';
                        }
                    }
                    , {
                        data: null, render: function (data, type, row) {
                            for (let i = 0; i < list_acc.length; i++) {
                                if (data.accId == list_acc[i].accId) {
                                    return list_acc[i].accName;
                                }
                            }
                            return 'Unknown';
                        }
                    }
                    , {
                        data: null, render: function (data, type, row) {
                            for (let i = 0; i < list_useragent.length; i++) {
                                if (data.uaId == list_useragent[i].uaId) {
                                    return '<div title="' + list_useragent[i].uaDesc + '" class="viewUserAgent">' + list_useragent[i].uaDesc + '</div>';
                                }
                            }
                            return 'Unknown';
                        }
                    }
                    , {
                        data: null, render: function (data, type, row) {
                            for (let i = 0; i < list_vps.length; i++) {
                                if (data.vpsIp == list_vps[i].vpsIp) {
                                    return list_vps[i].vpsIp;
                                }
                            }
                            return 'Unknown';
                        }
                    }
                    , { data: "timelineDelay" }
                    , { data: "timelineRepeat" }
                    , {
                        data: null, render: function (data, type, row) {
                            let custom_edit = '<a style="float:left" title="Sửa Actions" class="btn btn-sm btn-icon btn-pure btn-primary on-default m-r-5" href="/Timeline/Edit/' + row.timelineId + '"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>';
                            return custom_edit + show_buttton_actions(["edit", "save", "discard", "remove"]);
                        }
                    }
                ]
            }), window.dt = this.datatable, this
        },
        events: function () {
            var object = this;
            return this.$table.on("click", "button.button-save", function (e) {
                e.preventDefault(), object.rowSave($(this).closest("tr"))
            }).on("click", "button.button-discard", function (e) {
                e.preventDefault(), object.rowCancel($(this).closest("tr"))
            }).on("click", "button.button-edit", function (e) {
                e.preventDefault(), object.rowEdit($(this).closest("tr"))
            }).on("click", "button.button-remove", function (e) {
                e.preventDefault();
                var $row = $(this).closest("tr");
                swal({
                    title: "Xóa thật đấy a?",
                    text: "Xóa xong là không khôi phục được nữa đâu đấy",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#dc3545",
                    cancelButtonText: 'Thôi không xóa nữa vậy',
                    confirmButtonText: "Xóa thôi, hỏi gì nữa!",
                    closeOnConfirm: false
                }, function () {
                    object.rowRemove($row)
                    swal("Xóa rồi đấy nhé!", null, "success");
                });
            }), this.$addButton.on("click", function (e) {
                e.preventDefault(), object.rowAdd()
            }), this.dialog.$cancel.on("click", function (e) {
                e.preventDefault(), $.magnificPopup.close()
            }), this
        },
        rowAdd: function () {
            this.$addButton.attr({
                disabled: "disabled"
            });
            var data, $row;
            data = this.datatable.rows.add([{
                "timelineId": "",
                "timelineName": "",
                "timelineType": "",
                "timelineCreated": "",
                "timelineStatus": "",
                "userId": "",
                "accId": "",
                "uaId": "",
                "vpsIp": "",
            }]).draw();
            console.log(this.datatable.row(data[0]).nodes());
            ($row = this.datatable.row(data[0]).nodes().to$()).addClass("adding").find("td:last").addClass("actions");
            this.rowEdit($row);
            this.handleTooltip($row);
            this.datatable.order([0, "asc"]).draw()
        },
        rowCancel: function ($row) {
            var $actions, data;
            $row.hasClass("adding") ? this.rowRemove($row) : (($actions = $row.find("td div.actions")).find(".button-discard").tooltip("hide"), $actions.get(0) && this.rowSetActionsDefault($row),
                data = this.datatable.row($row.get(0)).data(),
                this.datatable.row($row.get(0)).data(data),
                this.handleTooltip($row),
                this.datatable.draw())
        },
        rowEdit: function ($row) {
            var data, object = this;
            this.handleTooltip($row);
            data = this.datatable.row($row.get(0)).data();
            console.log(data);
            let accSelected = "";
            let checkSelected = false;
            $row.children("td").each(function (i) {
                var $this = $(this);
                if ($this.children().hasClass("actions") ) {
                    object.rowSetActionsEditing($row);
                }
                else {
                    var disabled = $this.hasClass("disabled") ? "disabled" : "";
                    if (i == 3) {
                        $this.html('<input type="datetime-local" required class="form-control input-block" value="' + data.timelineCreated + '" ' + disabled + ' />');
                    } else if (i == 2) {
                        let fb = (data.timelineType == "facebook") ? "selected" : "";
                        let yt = (data.timelineType == "youtube") ? "selected" : "";
                        let gg = (data.timelineType== "google") ? "selected" : "";
                        let ig = (data.timelineType == "instagram") ? "selected" : "";
                        $this.html('<select id="timelineType" required class="form-control select_timelineType"><option value="youtube"' + yt + '>Youtube</option><option value="facebook"' + fb + '>Facebook</option><option value="google"' + gg + '>Google</option><option value="ig"' + ig + '>Instagram</option></select>');
                    } else if (i == 4) {
                        let active = (data.timelineStatus == "active") ? "selected" : "";
                        let deactive = (data.timelineStatus == "deactive") ? "selected" : "";
                        let running = (data.timelineStatus == "running") ? "selected" : "";
                        let error = (data.timelineStatus == "error") ? "selected" : "";
                        let done = (data.timelineStatus == "done") ? "selected" : "";
                        let br = (data.timelineStatus == "before running") ? "selected" : "";
                        $this.html('<select id="timelineStatus" required class="form-control select_timelineStatus"><option value="active" ' + active + '>Active</option><option value="deactive" ' + deactive + '>Deactive</option><option value="running" ' + running + '>Running</option><option value="error" ' + error + '>Error</option><option value="done" ' + done + '>Done</option><option value="before running" ' + br + '>Before running</option></select>');
                    } else if (i == 5) {
                        let user_html = "";
                        for (let i = 0; i < list_user.length; i++) {
                            let selected = (data.userId == list_user[i].userId) ? "selected" : "";
                            user_html += '<option value="' + list_user[i].userId + '"' + selected + '>' + list_user[i].userName + '</option>';
                        }
                        $this.html('<select id="userId" required class="form-control select_userId">' + user_html + '</select>');
                    } else if (i == 6) {
                        let acc_html = "";
                        for (let i = 0; i < list_acc.length; i++) {
                            let selected = (data.accId == list_acc[i].accId) ? "selected" : "";
                            if ((data.accId == list_acc[i].accId) && checkSelected == false) {
                                accSelected = data.accId;
                                checkSelected = true;
                            }
                            acc_html += '<option style="display:none" class="' + list_acc[i].accType.toLowerCase() + '" value="' + list_acc[i].accId + '"' + selected + '>' + list_acc[i].accType + " -- " + list_acc[i].accName + '</option>';
                        }
                        $this.html('<select id="accId" required class="form-control select_accId">' + acc_html + '</select>');
                    } else if (i == 7) {
                        let useragent_html = "";
                        for (let i = 0; i < list_useragent.length; i++) {
                            let selected = (data.uaId == list_useragent[i].uaId) ? "selected" : "";
                            useragent_html += '<option value="' + list_useragent[i].uaId + '"' + selected + '>' + list_useragent[i].uaDesc + '</option>';
                        }
                        $this.html('<select id="uaId" required class="form-control select_uaId">' + useragent_html + '</select>');
                    } else if (i == 8) {
                        let vps_html = "";
                        for (let i = 0; i < list_vps.length; i++) {
                            let selected = (data.vpsIp == list_vps[i].vpsIp) ? "selected" : "";
                            vps_html += '<option value="' + list_vps[i].vpsIp + '"' + selected + '>' + list_vps[i].vpsIp + '</option>';
                        }
                        $this.html('<select id="vpsIp" required class="form-control select_vpsIp">' + vps_html + '</select>');
                    }
                    else if ( i == 9) {
                        $this.html('<input type="number" required class="form-control input-block" value="' + data.timelineDelay + '" />');
                    }
                    else if (i == 10) {
                        $this.html('<input type="number" required class="form-control input-block" value="' + data.timelineRepeat + '" />');
                    }
                    else {
                        $this.html('<input type="text" required class="form-control input-block" value="' + Object.values(data)[i] + '" ' + disabled + ' />');
                    }
                }
            });
            setTimeout(function () {
                $("#userId").select2();
                //$("#accId").select2();
                $("#uaId").select2();
                $("#vpsIp").select2();
                $("#timelineType").trigger("change");
                console.log(accSelected);
                $("#accId").val(accSelected > 0 ? accSelected: 1);
            }, 2000);
        },
        rowSave: function ($row) {
            var object = this, values = [];
            $row.hasClass("adding");
            this.$addButton.removeAttr("disabled");
            $row.removeClass("adding");
            values = $row.find("td").map(function () {
                var $this = $(this);
                if ($this.children().hasClass("actions")) {
                    return (object.rowSetActionsDefault($row), object.datatable.cell(this).data());
                } else {
                    if ($this.children().hasClass("select_userId")) {
                        return $.trim($this.find("select#userId").val());
                    }
                    else if ($this.children().hasClass("select_timelineType")) {
                        return $.trim($this.find("select#timelineType").val());
                    }
                    else if ($this.children().hasClass("select_timelineStatus")) {
                        return $.trim($this.find("select#timelineStatus").val());
                    }
                    else if ($this.children().hasClass("select_accId")) {
                        return $.trim($this.find("select#accId").val());
                    }
                    else if ($this.children().hasClass("select_uaId")) {
                        return $.trim($this.find("select#uaId").val());
                    }
                    else if ($this.children().hasClass("select_vpsIp")) {
                        return $.trim($this.find("select#vpsIp").val());
                    }
                    else {
                        return $.trim($this.find("input").val());
                    }
                }
            });
            $row.find("td div.actions").find(".button-save").tooltip("hide");
            let data_object = {
                timelineId: values[0],
                timelineName: values[1],
                timelineType: values[2],
                timelineCreated: values[3],
                //timelineUpdated: values[4],
                timelineStatus: values[4],
                userId: values[5],
                accId: values[6],
                uaId: values[7],
                vpsIp: values[8],
                timelineDelay: values[9],
                timelineRepeat: values[10],
            };
            $.ajax({
                url: "/Timeline/Update/",
                type: "POST",
                data: data_object,
            }).done(function (data) {
                $('#timeline').DataTable().ajax.reload();
            }).fail(function (jqXHR) {
                swal("Có lỗi", jqXHR.status, "error");
            });
        },
        rowRemove: function ($row) {
            var timelineId = this.datatable.row($row.get(0)).data().timelineId;
            if (timelineId != "") {
                $.ajax({
                    url: "/Timeline/Delete/" + timelineId,
                    type: "DELETE",
                }).done(function (data) {
                    $('#timeline').DataTable().ajax.reload();
                }).fail(function (jqXHR) {
                    swal("Có lỗi", jqXHR.status, "error");
                });
            } else {
                $('tr.adding').remove();
                $('#addToTable').removeAttr("disabled");
            }
        },
        rowSetActionsEditing: function ($row) {
            $row.find(".on-editing").removeAttr("hidden"), $row.find(".on-default").attr("hidden", !0)
        },
        rowSetActionsDefault: function ($row) {
            $row.find(".on-editing").attr("hidden", !0), $row.find(".on-default").removeAttr("hidden")
        },
        handleTooltip: function ($row) {
            $row.find('[data-toggle="tooltip"]').tooltip()
        }
    };
    $(function () {
        addRowTable.initialize();
        $('#addRow').click(function () {
            let user_html = "";
            let userName = "@userName";
            let roleName = "@roleName";
            let disabled;
            for (var i = 0; i < list_user.length; i++) {
                disabled = (roleName == "admin") ? "" : "disabled";
                user_html += '<option value="' + list_user[i].userId + '" ' + disabled + '>' + list_user[i].userName + '</option>';
            }
            let select_user = '<select class="form-control" tabindex="6" id="userId">' + user_html + '</select>';
            setTimeout(function () {
                $("#userId option").filter(function () {
                    return $(this).text() == userName;
                }).prop('selected', true);
            }, 2000);
            let acc_html = "";
            for (var i = 0; i < list_acc.length; i++) {
                acc_html += '<option style="display:none" class="' + list_acc[i].accType.toLowerCase() + '" value="' + list_acc[i].accId + '">' + list_acc[i].accType + " -- " + list_acc[i].accName + '</option>';
            }
            let select_acc = '<select class="form-control" tabindex="7" id="accId">' + acc_html + '</select>';
            let useragent_html = "";
            for (var i = 0; i < list_useragent.length; i++) {
                useragent_html += '<option value="' + list_useragent[i].uaId + '">' + list_useragent[i].uaDesc + '</option>';
            }
            let select_useragent = '<select class="form-control" tabindex="8" id="uaId">' + useragent_html + '</select>';
            let vps_html = "";
            for (var i = 0; i < list_vps.length; i++) {
                vps_html += '<option value="' + list_vps[i].vpsIp + '">' + list_vps[i].vpsIp + '</option>';
            }
            let select_vps = '<select class="form-control" tabindex="9" id="vpsIp">' + vps_html + '</select>';

            var html = '<tr class="adding">';
            html += '<td><a class="btnCancelAddNew btn btn-sm btn-icon btn-pure btn-danger on-default" data-toggle="tooltip" data-original-title="Hủy"><i class="icon-close" aria-hidden="true"></i></a></td>';
            html += '<td><input required class="form-control" type="text" id="timelineName" name="timelineName" tabindex="1" /></td>';
            html += '<td><select class="form-control" id="timelineType" name="timelineType" tabindex="2"><option value="youtube">Youtube</option><option value="facebook">Facebook</option><option value="google">Google</option><option value="instagram">Instagram</option></select></td>';
            html += '<td><input required class="form-control" type="datetime-local" id="timelineCreated" name="timelineCreated" tabindex="3" /></td>';
            //html += '<td><input required class="form-control" type="datetime-local" id="timelineUpdated" name="timelineUpdated" tabindex="4" /></td>';
            html += '<td><input disabled class="form-control" type="text" id="timelineStatus" name="timelineStatus" tabindex="5" value="deactive" /></td>';
            html += '<td>' + select_user + '</td>';
            html += '<td>' + select_acc + '</td>';
            html += '<td>' + select_useragent + '</td>';
            html += '<td>' + select_vps + '</td>';
            html += '<td><input required class="form-control" type="number" id="timelineDelay" name="timelineDelay" tabindex="10" /></td>';
            html += '<td><input required class="form-control" type="number" id="timelineRepeat" name="timelineRepeat" tabindex="11" /></td>';
            html += '<td><button type="button" name="insert" id="insert" class="btn btn-success btn-xs" tabindex="12"><i class="icon-plus" aria-hidden="true"></i> Thêm mới</button></td>';
            html += '</tr>';
            $('.dataTable tbody').prepend(html);
            $("#timelineType").trigger("change");
            $("#uaId").val(0);
        });
        // #region ===================================== BATCH DELETE =====================================
        var list_selected = [];
        $('#btnDelete').click(function () {
            $("tr.selected").each(function () {
                list_selected.push($(this).attr("id"));
            });
            if (list_selected.length > 0) {
                Swal.fire({
                    title: 'Bạn có chắc không?',
                    html: 'Xóa <strong>' + list_selected.length + "</strong> Timeline",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Uh, Xóa nhanh hộ cái!',
                    cancelButtonText: 'Thôi đùa đấy!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        let list_selected_str = list_selected.toString();
                        $.ajax({
                            url: "/Timeline/BatchDelete/",
                            type: "DELETE",
                            data: {
                                list_selected: list_selected
                            }
                        }).done(function (data) {
                            hcShowToast("Thông báo", "Xóa ID " + list_selected_str + " thành công ", "success", "dark", 4000);
                            $('#timeline').DataTable().ajax.reload();
                        }).fail(function (jqXHR) {
                            swal("Có lỗi", jqXHR.status, "error");
                        });
                    }
                    list_selected = [];
                });
            } else {
                hcShowToast("Cảnh báo", "Chưa chọn ID nào xóa sao được", "warning", "dark", 4000);
            }
        });
        // #endregion ===================================== BATCH DELETE =====================================
        // #region ===================================== btnDuplicate =====================================
        $('#btnDuplicate').click(function () {
            let option = [];
            $("tr.selected").each(function () {
                list_selected.push($(this).attr("id"));
            });
            if (list_selected.length > 0) {
                Swal.fire({
                    title: 'Nhân bản cái gì?',
                    html: 'Đã chọn <strong>' + list_selected.length + "</strong> Timeline",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Timeline',
                    denyButtonText: 'Timeline + Action',
                    cancelButtonText: 'Hủy',
                    showDenyButton: true,
                }).then((result) => {
                    if (result.isConfirmed) {
                        option.push("timeline");
                    } else if (result.isDenied) {
                        option.push("timeline");
                        option.push("action");
                    }
                    if (option.length > 0) {
                        let list_selected_str = list_selected.toString();
                        $.ajax({
                            url: "/Timeline/BatchDuplicate/",
                            type: "POST",
                            data: {
                                list_selected: list_selected,
                                duplicate_options: option,
                            }
                        }).done(function (data) {
                            hcShowToast("Thông báo", "Đã nhân bản các ID " + list_selected_str + " thành công ", "success", "dark", 4000);
                            $('#timeline').DataTable().ajax.reload();
                        }).fail(function (jqXHR) {
                            swal("Có lỗi", jqXHR.status, "error");
                        });
                    }
                    list_selected = [];
                    option = [];
                });

            } else {
                hcShowToast("Cảnh báo", "Chưa chọn ID để nhân bản", "warning", "dark", 4000);
            }
        });
        // #region ===================================== ADD NEW =====================================
        $(document).on('click', '#insert', function () {
            var timelineName = $('#timelineName').val();
            var timelineType = $('#timelineType').val();
            var timelineCreated = $('#timelineCreated').val();
            //var timelineUpdated = $('#timelineUpdated').val();
            var timelineStatus = $('#timelineStatus').val();
            var userId = $('#userId').val();
            var accId = $('#accId').val();
            var uaId = $('#uaId').val();
            var vpsIp = $('#vpsIp').val();
            var timelineDelay = $('#timelineDelay').val();
            var timelineRepeat = $('#timelineRepeat').val();
            //if (timelineName != '' && timelineType != '' && timelineCreated != '' && timelineUpdated != '' && timelineStatus != '' && userId != '') {
            if (timelineName != '' && timelineType != '') {
                let data_timeline = {
                    timelineName: timelineName,
                    timelineType: timelineType,
                    timelineCreated: timelineCreated,
                    timelineUpdated: timelineCreated,
                    timelineStatus: timelineStatus,
                    userId: userId,
                    accId: accId,
                    uaId: uaId,
                    vpsIp: vpsIp,
                    timelineDelay: timelineDelay,
                    timelineRepeat: timelineRepeat,
                }
                $.ajax({
                    url: "/Timeline/Update",
                    method: "POST",
                    data: { timeline: data_timeline },
                    success: function (data) {
                        hcShowToast("Thông báo", "Thêm mới thành công", "success", "dark", 4000);
                        $('#timeline').DataTable().ajax.reload();
                    }
                });
            }
            else {
                hcShowToast("Lỗi", "Yêu cầu nhập đầy đủ các trường dữ liệu", "error", "dark", 4000);
                return false;
            }
        });
        // #endregion ===================================== ADD NEW =====================================
        // #region ===================================== VIEW USER AGENT =====================================
        $(document).contextmenu({
            delegate: ".dataTable td",
            menu: [
                { title: "Reload", cmd: "reload", uiIcon: "ui-icon-refresh ui-icon-filter" },
                { title: "--------------" },
                { title: "Edit Actions", cmd: "edit_actions", uiIcon: "ui-icon-wrench ui-icon-filter" },
                { title: "--- Edit Actions in newtab", cmd: "edit_actions_newtab", uiIcon: "ui-icon-wrench ui-icon-filter" },
                { title: "Edit Timeline", cmd: "edit_timeline", uiIcon: "ui-icon-pencil ui-icon-filter" },
                { title: "--------------" },
                { title: "Delete Timeline", cmd: "delete_timeline", uiIcon: "ui-icon-trash ui-icon-filter" },
                { title: "Cancel", cmd: "cancel", uiIcon: "ui-icon-cancel ui-icon-filter" },
            ],
            select: function (event, ui) {
                var celltext = ui.target.text();
                var colvindex = ui.target.parent().children().index(ui.target);
                var btnEdit = ui.target.parent().children().last().find('[class*="button-edit"]');
                var btnDelete = ui.target.parent().children().last().find('[class*="button-remove"]');
                var btnCancel = ui.target.parent().children().last().find('[class*="button-discard"]');
                var btnSave = ui.target.parent().children().last().find('[class*="button-save"]');
                var timelineId = ui.target.parent().attr("id");
                var colindex = $('table thead tr th:eq(' + colvindex + ')').data('column-index');
                switch (ui.cmd) {
                    case "edit_actions_newtab":
                        window.open("/Timeline/Edit/" + timelineId);
                        break;
                    case "edit_actions":
                        window.location.href = "/Timeline/Edit/" + timelineId
                        break;
                    case "edit_timeline":
                        btnEdit.trigger("click");
                        break;
                    case "delete_timeline":
                        btnDelete.trigger("click");
                        break;
                    case "reload":
                        $("i.icon-refresh").trigger("click");
                        break;
                    case "cancel":
                        btnCancel.trigger("click");
                        break;
                }
            },
            beforeOpen: function (event, ui) {
                var $menu = ui.menu,
                    $target = ui.target,
                    extraData = ui.extraData;
                ui.menu.zIndex(9999);
            }
        });
        // #endregion ===================================== ADD NEW =====================================
        // #region ===================================== Lọc tài khoản =====================================
        $(document).on({
            change: function () {
                let timelineType = $(this).val();
                $("#accId").val("")
                $('select#accId option').hide();
                $('select#accId option.' + timelineType).show();
            },
        }, "#timelineType");
        // #endregion ===================================== Lọc tài khoản =====================================
        // #region ===================================== HOTKEY =====================================
        $.key('insert', function () {
            $("#addRow").trigger("click");
        });
        $.key('alt+s', function () {
            $('tr.adding button#insert').trigger("click");
        });
        $.key('alt+z', function () {
            $("tr.adding").remove();
        });
        $.key('delete', function () {
            $("#btnDelete").trigger("click");
        });
        $.key('alt+c', function () {
            $("#btnDuplicate").trigger("click");
        });
        function dblEdit() {
            $('table#timeline tr td').on('dblclick', function () {
                let tlid = $(this).parent().attr("id");
                if (tlid > 0) {
                    $("tr#" + tlid).children("td").children("div.actions").children("button.button-edit").click();
                }
            });
        }
        setInterval(function () {
            dblEdit();
        }, 1000);
        // #endregion ===================================== HOTKEY =====================================
    })
</script>
<!-- #endregion-->