﻿@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("userName");
    var roleName = Context.Session.GetString("roleName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        if (roleName != "admin")
        {
            Context.Response.Redirect("/Home/Index");
        }
        ViewData["Title"] = "Quản lý quyền người dùng";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<!-- #region ======================================================== KHUNG HIỆN THỊ ========================================================-->
<div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            <ul class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item">@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown">
                    <li> <a href="javascript:addRowTable.reload()" title="Tải lại dữ liệu" data-toggle="cardloading" data-loading-effect="pulse"><i class="icon-refresh"></i></a></li>
                    <li><a href="javascript:void(0);" class="full-screen" title="Xem full màn hình"><i class="icon-size-fullscreen"></i></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
                            <li><a href="javascript:void(0);">Hành động</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <button id="addToTable" class="btn btn-primary m-b-15" type="button"><i class="icon wb-plus" aria-hidden="true"></i> Thêm mới</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="role">
                        <thead><tr><th class="font-weight-bold">ID</th><th>Quyền</th><th>Mô tả</th><th>Actions</th></tr></thead>
                        <tfoot><tr><th class="font-weight-bold">ID</th><th>Quyền</th><th>Mô tả</th><th>Actions</th></tr></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion-->
<!-- #region ==================================================== BINDDING DATA VIA AJAX ====================================================-->
<script>
    var addRowTable = {
        options: {
            addButton: "#addToTable",
            table: "#role",
            dialog: {}
        },
        reload: function () {
            this.datatable.ajax.reload();
        },
        initialize: function () {
            this.setVars().build().events()
        },
        setVars: function () {
            return this.$table = $(this.options.table), this.$addButton = $(this.options.addButton), this.dialog = {}, this.dialog.$wrapper = $(this.options.dialog.wrapper), this.dialog.$cancel = $(this.options.dialog.cancelButton), this.dialog.$confirm = $(this.options.dialog.confirmButton), this
        },
        build: function () {
            return this.datatable = $('#role').DataTable({
                "ajax": '/Role/List',
                "rowId": 'roleId',
                "language": default_language,// Biến được định nghĩa trong wwwroot/js/site.js
                "dom": '<"top"flip<"clear">>rt<"bottom"flip<"clear">>B',
                "buttons": default_button, // Biến được định nghĩa trong wwwroot/js/init_ui.js
                "columnDefs": [{
                    orderable: false,
                    className: 'select-checkbox disabled',
                    targets: 0
                }],
                "select": {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                "columns": [
                    {
                        data: null, render: function (data, type, row) {
                            return '<span class="colId">' + row.roleId + '</span>';// Hàm được định nghĩa trong wwwroot/js/site.js
                        }
                    }
                    , { data: "roleName" }
                    , { data: "roleDesc" }
                    , {
                        data: null, render: function (data, type, row) {
                            return show_buttton_actions(["edit", "save", "discard", "remove"]);// Biến được định nghĩa trong wwwroot/js/site.js
                        }
                    }
                ]
            }), window.dt = this.datatable, this
        },
        events: function () {
            var object = this;
            return this.$table.on("click", "button.button-save", function (e) {
                e.preventDefault(), object.rowSave($(this).closest("tr"))
            }).on("click", "button.button-discard", function (e) {
                e.preventDefault(), object.rowCancel($(this).closest("tr"))
            }).on("click", "button.button-edit", function (e) {
                e.preventDefault(), object.rowEdit($(this).closest("tr"))
            }).on("click", "button.button-remove", function (e) {
                e.preventDefault();
                var $row = $(this).closest("tr");
                swal({
                    title: "Xóa thật đấy a?",
                    text: "Xóa xong là không khôi phục được nữa đâu đấy",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#dc3545",
                    cancelButtonText: 'Thôi không xóa nữa vậy',
                    confirmButtonText: "Xóa thôi, hỏi gì nữa!",
                    closeOnConfirm: false
                }, function () {
                    object.rowRemove($row)
                    swal("Xóa rồi đấy nhé!", null, "success");
                });
            }), this.$addButton.on("click", function (e) {
                e.preventDefault(), object.rowAdd()
            }), this.dialog.$cancel.on("click", function (e) {
                e.preventDefault(), $.magnificPopup.close()
            }), this
        },
        rowAdd: function () {
            this.$addButton.attr({
                disabled: "disabled"
            });
            var data, $row;
            data = this.datatable.rows.add([{
                "roleId": "",
                "roleName": "",
                "roleDesc": ""
            }]).draw();
            ($row = this.datatable.row(data[0]).nodes().to$()).addClass("adding").find("td:last").addClass("actions");
            this.rowEdit($row);
            this.handleTooltip($row);
            this.datatable.order([0, "asc"]).draw()
        },
        rowCancel: function ($row) {
            var $actions, data;
            $row.hasClass("adding") ? this.rowRemove($row) : (($actions = $row.find("td div.actions")).find(".button-discard").tooltip("hide"), $actions.get(0) && this.rowSetActionsDefault($row),
                data = this.datatable.row($row.get(0)).data(),
                this.datatable.row($row.get(0)).data(data),
                this.handleTooltip($row),
                this.datatable.draw())
        },
        rowEdit: function ($row) {
            var data, object = this;
            this.handleTooltip($row);
            data = this.datatable.row($row.get(0)).data();
            $row.children("td").each(function (i) {
                var $this = $(this);
                if ($this.children().hasClass("actions")) {
                    object.rowSetActionsEditing($row);
                } else {
                    var disabled = $this.hasClass("disabled") ? "disabled" : "";
                    $this.html('<input type="text" required class="form-control input-block" value="' + Object.values(data)[i] + '" ' + disabled + ' />');
                }
            })
        },
        rowSave: function ($row) {
            var object = this, values = [];
            $row.hasClass("adding");
            this.$addButton.removeAttr("disabled");
            $row.removeClass("adding");
            values = $row.find("td").map(function () {
                var $this = $(this);
                return $this.children().hasClass("actions") ? (object.rowSetActionsDefault($row), object.datatable.cell(this).data()) : $.trim($this.find("input").val())
            });
            $row.find("td div.actions").find(".button-save").tooltip("hide");
            $.ajax({
                url: "/Role/Update/",
                type: "POST",
                data: {
                    roleId: values[0],
                    roleName: values[1],
                    roleDesc: values[2]
                }
            }).done(function (data) {
                $('#role').DataTable().ajax.reload();
            }).fail(function (jqXHR) {
                swal("Có lỗi", jqXHR.status, "error");
            });
        },
        rowRemove: function ($row) {
            var roleId = this.datatable.row($row.get(0)).data().roleId;
            if (roleId != "") {
                $.ajax({
                    url: "/Role/Delete/" + roleId,
                    type: "DELETE",
                }).done(function (data) {
                    $('#role').DataTable().ajax.reload();
                }).fail(function (jqXHR) {
                    swal("Có lỗi", jqXHR.status, "error");
                });
            } else {
                $('tr.adding').remove();
                $('#addToTable').removeAttr("disabled");
            }
        },
        rowSetActionsEditing: function ($row) {
            $row.find(".on-editing").removeAttr("hidden"), $row.find(".on-default").attr("hidden", !0)
        },
        rowSetActionsDefault: function ($row) {
            $row.find(".on-editing").attr("hidden", !0), $row.find(".on-default").removeAttr("hidden")
        },
        handleTooltip: function ($row) {
            $row.find('[data-toggle="tooltip"]').tooltip()
        }
    };
    $(function () {
        addRowTable.initialize()
    })
</script>
<!-- #endregion-->