﻿a.colId, span.colId {
    position: absolute;
    top: 5px;
    left: 20%;
    top: 25%;
    margin-left: 5px;
}

.hide {
    display: none !important;
}

td.select-checkbox:before, td.select-checkbox:after {
    left: 10% !important;
    top: 50% !important;
    color: green;
}

td.select-checkbox {
    cursor: pointer;
}

.table td {
    padding: 5px !important;
}

table.dataTable {
    width: 100% !important;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.65em;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

[contenteditable], tr.adding td {
    background: var(--warning);
    color: #fff;
}

body.theme-purple .btn-primary, body.theme-purple .btn-default, body.theme-purple .btn-warning, body.theme-purple .btn-danger {
    border: 1px solid purple;
}

body.theme-purple .btn-primary {
    background: #a27ce6;
}

.dt-buttons a.btn span:before {
    font-family: "FontAwesome";
    padding-right: 10px;
}

.dt-buttons a.btn.buttons-copy span:before {
    content: "\f0c5";
}

.dt-buttons a.btn.buttons-excel span:before {
    content: "\f1c3";
}

.dt-buttons a.btn.buttons-print span:before {
    content: "\f02f";
}

.dt-buttons a.btn.buttons-select-all span:before {
    content: "\f046";
}

.dt-buttons a.btn.buttons-select-none span:before {
    content: "\f096";
}

.dt-buttons a.btn.buttons-selected span:before {
    content: "\f1f8";
}

.btn.btn-round {
    padding: 5px 10px;
}

/*#user_wrapper td:nth-child(3):before {
    content: "ΦΦΦ   ΦΦΦ   ΦΦΦ   ΦΦΦ   ΦΦΦ";
    font-weight: bold;
    position: absolute;
    padding: 0px;
}*/
[class*="rdo_"] {
    border: none;
    background-image: url(/assets/images/fb-reactions.png);
    background-color: transparent;
    display: block;
    cursor: pointer;
    height: 48px;
    width: 48px;
    z-index: 11;
    top: -28px;
    transform-origin: 50% 100%;
    transition: all 0.3s;
    outline: none;
    will-change: transform;
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
}

    [class*="rdo_"]:hover {
        -webkit-transform: rotate(15deg) scale(1.4);
        transform: rotate(15deg) scale(1.4);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

.rdo_like {
    left: 0;
    background-position: 0 -144px;
}

.rdo_love {
    background-position: -48px 0;
    left: 50px;
}

.rdo_haha {
    background-position: -96px 0;
    left: 100px;
}

.rdo_wow {
    background-position: -144px 0;
    left: 150px;
}

.rdo_sad {
    background-position: -192px 0;
    left: 200px;
}

.rdo_angry {
    background-position: -240px 0;
    left: 250px;
}

div#div_timeline .input-group-prepend, div#div_timeline .input-group-append {
    display: block !important;
}

div.viewUserAgent {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-file {
    padding-top: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: calc(2.25rem - 1px);
}

*:disabled {
    cursor: not-allowed;
}

textarea#logDesc {
    background: #000;
}

td.details-control {
    background: url('/assets/images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('/assets/images/details_close.png') no-repeat center center;
}

.float_nav {
    position: fixed;
    bottom: 5%;
    right: 5px;
    z-index: 1;
}

@media only screen and (max-device-width : 640px) {
    .growl-notification--image {
        width: 90% !important;
    }
}

/* An ugly trick to use a filter icon */
.ui-icon-volume-off.ui-icon-filter {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid;
    background: #343a40;
}

#help .list-group-item {
    background: none !important;
    border: none !important;
}

.btn-group input[type=file].custom-file {
    border-radius: 0;
}

#help .separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #fff;
}

.separator::before {
    margin-right: .50em;
}

.separator::after {
    margin-left: .50em;
}

#timeline td div.actions {
    width: 115px;
}

li.disabled label.checkbox {
    cursor: not-allowed;
}

.multiselect-custom + .btn-group ul.multiselect-container > li > a label.checkbox {
    cursor: pointer;
    width: 100%;
}
.multiselect-custom + .btn-group ul.multiselect-container > li.disabled > a label.checkbox {
    cursor: not-allowed;
    text-decoration: line-through;
    width: 100%;
    color:red;
}

