﻿@using Microsoft.AspNetCore.Http
@{
    var userId = Context.Session.GetInt32("userId");
    var userName = Context.Session.GetString("userName");
    var roleName = Context.Session.GetString("roleName");
    if (userName == null)
    {
        Context.Response.Redirect("/User/Login");
    }
    else
    {
        ViewData["Title"] = "Auto Gen Actions";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div id="frmTimeline">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>@{ @ViewData["Title"] }</h2>
            </div>
            <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                <ul class="breadcrumb justify-content-end">
                    <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">@{ @ViewData["Title"] }</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <ul class="header-dropdown">
                        <li><a href="javascript:void(0);" class="full-screen" title="Xem full màn hình"><i class="icon-size-fullscreen"></i></a></li>
                    </ul>
                </div>
                <div class="body">
                    <div id="div_actions" class="row">
                        <input type="hidden" name="userId" id="userId" class="form-inline form-control" value="@{@userId}" disabled>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="genPlatform">Nền tảng</label><br />
                                        <select id="genPlatform" class="form-control multiselect multiselect-custom" multiple>
                                            <option value="all">All</option>
                                            <option value="youtube" selected>Youtube</option>
                                            <option value="google">Google</option>
                                            <option value="facebook">Facebook</option>
                                            <option value="instagram" disabled title="Chưa hỗ trợ">Instagram</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="genTime">Số giờ thực hiện<b style='color:red;'>(*)</b></label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                            </div>
                                            <input id="genTime" type="number" max="4000" min="1" class="form-control" placeholder="5" value="1" required>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="genAchived">Số lượng cần đạt<b style='color:red;'>(*)</b></label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-reload"></i></span>
                                            </div>
                                            <input id="genAchived" type="number" max="120000" min="5" class="form-control" placeholder="5" value="50" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="formAction" class="form-group">
                                <label style="cursor:pointer" class="control-inline "><input type="checkbox" id="checkAll" checked /> Hành động</label>
                                <br /><br />
                                <label id="lblcbSearch" class="control-inline fancy-checkbox">
                                    <input type="checkbox" id="cbSearch" data-act="search" checked />
                                    <span>Search</span>
                                </label>
                                <label id="lblcbView" class="control-inline fancy-checkbox">
                                    <input type="checkbox" id="cbView" data-act="view" checked />
                                    <span>View</span>
                                </label>
                                <label id="lblcbLike" class="control-inline fancy-checkbox">
                                    <input type="checkbox" id="cbLike" data-act="like" checked />
                                    <span>Like</span>
                                </label>
                                <label id="lblcbComment" class="control-inline fancy-checkbox">
                                    <input type="checkbox" id="cbComment" data-act="comment" checked />
                                    <span>Comment</span>
                                </label>
                                <label id="lblcbBack" class="control-inline fancy-checkbox">
                                    <input type="checkbox" id="cbBack" data-act="back" checked />
                                    <span>Back</span>
                                </label>
                                <label id="lblcbDislike" class="control-inline fancy-checkbox">
                                    <input type="checkbox" id="cbDislike" data-act="dislike" checked />
                                    <span>Dislike</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="actMode" style="cursor:pointer" class="control-inline "> Actions Mode</label>
                                <br /><br />
                                <label class="control-inline fancy-checkbox">
                                    <input type="checkbox" id="actMode" value="New" />
                                    <span>Bài mới</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group" id="link">
                                <label for="genLink">Link<b style='color:red;'>(*)</b></label>
                                <input id="genLink" type="text" class="form-control" required value="https://www.youtube.com/watch?v=wzbBVtDe2vU" />
                            </div>
                            <div class="form-group" id="keyword">
                                <label for="genKeyword">Keyword<b style='color:red;'>(*)</b></label>
                                <input id="genKeyword" type="text" class="form-control" required />
                            </div>
                            <div class="form-group" id="vps">
                                <label for="vpsGroup">Group VPS<b style='color:red;'>(*)</b></label>
                                <select id="vpsGroup" class="form-control"></select>
                            </div>
                            <div class="form-group" id="comment">
                                <label for="comGroup">Group Comment<b style='color:red;'>(*)</b></label>
                                <select id="comGroup" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Ghi chú:</h4>
                                    <span>
                                        <b>Test 1: </b>Sẽ tạo ra số Timeline ít hơn rất nhiều số lượng cần đạt vì đã có Repeat
                                        <br /> ----> Chạy cùng thời điểm ở nhiều VPS vì sẽ đổi IP, đổi tài khoản, đổi UserAgent)
                                        <br /> ----> Thời gian có thể tăng thêm 10% - 30%
                                    </span>
                                    <br /> <br />
                                    <span>
                                        <b>Test 2: </b>Sẽ tạo ra số Timeline bằng số lượng cần đạt (ví dụ ở đây = 1000)
                                        <br /> ----> Không Repeat, Thời gian view lại Random từ 45s - 120s
                                        <br /> ----> Thời gian sẽ tăng gấp số nhân
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <h4>Có 2 chế độ Test</h4>
                                    <label class="fancy-radio custom-color-green"><input name="modeTest" value="test1" type="radio" checked=""><span><i></i>Test 1</span></label>
                                    <label class="fancy-radio custom-color-green"><input name="modeTest" value="test2" type="radio"><span><i></i>Test 2</span></label><br />
                                    <button type="button" id="btnAutoGen" class="btn btn-danger m-b-15 offset-5"><i class="fa fa-magic" aria-hidden="true"></i> &nbsp; Auto Gen</button>
                                    <button type="button" id="btnAutoSample" class="btn btn-default m-b-15"><i class="fa fa-magic" aria-hidden="true"></i> &nbsp; Ví dụ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr />
                            <h4>Kết quả</h4>
                            <h5>Tổng thời gian: </h5> <p id="Tong_thoi_gian"></p>
                            <h5>Timeline: </h5> <p id="cTimeline"></p>
                            <h5>Actions: </h5> <p id="cActions"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/vendor/multi-select/js/jquery.multi-select.js"></script> <!-- Multi Select Plugin Js -->
<script src="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $(function () {
        function BuildGroupVPS() {
            let vpsGroups = [];
            $.ajax({
                url: "/Vps/Get",
                method: "GET",
                success: function (data) {
                    let rsdata = data.data;
                    if (rsdata != null) {
                        for (var i = 0; i < rsdata.length; i++) {
                            console.log(rsdata[i].vpsGroup == null);
                            let checkNull = rsdata[i].vpsGroup;
                            if (checkNull != null) {
                                vpsGroups.push(rsdata[i].vpsGroup);
                            }
                        }
                    }
                    vpsGroups = Array.from(new Set(vpsGroups));
                    console.log(vpsGroups);
                    let vps_html = '';
                    if (vpsGroups.length > 0) {
                        for (var i = 0; i < vpsGroups.length; i++) {
                            vps_html += '<option value="' + vpsGroups[i] + '">' + vpsGroups[i] + '</option>';
                        }
                        $('#vpsGroup').html(vps_html);
                    }
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                    hcShowToast("Lỗi API lấy thông tin VPS", "Xem chi tiết log bấm F12", "warning", "dark", 5000);
                },
            });
        }
        function BuildGroupComment() {
            let vpsComments = [];
            $.ajax({
                url: "/Comment/Get",
                method: "GET",
                success: function (data) {
                    let rsdata = data.data;
                    if (rsdata != null) {
                        for (var i = 0; i < rsdata.length; i++) {
                            console.log(rsdata[i].comGroup == null);
                            let checkNull = rsdata[i].comGroup;
                            if (checkNull != null) {
                                vpsComments.push(rsdata[i].comGroup);
                            }
                        }
                    }
                    vpsComments = Array.from(new Set(vpsComments));
                    console.log(vpsComments);
                    let comment_html = '';
                    if (vpsComments.length > 0) {
                        for (var i = 0; i < vpsComments.length; i++) {
                            comment_html += '<option value="' + vpsComments[i] + '">' + vpsComments[i] + '</option>';
                        }
                        $('#comGroup').html(comment_html);
                    }
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                    hcShowToast("Lỗi API lấy thông tin Comment", "Xem chi tiết log bấm F12", "warning", "dark", 5000);
                },
            });
        }
        BuildGroupVPS();
        BuildGroupComment();
        $('#genPlatform').multiselect({
            buttonClass: 'btn btn-default btn-sm'
        });
        // #region =========================================== btnAutoGen ===================================-->
        let sec = 10;
        let btnAutoGen_html = $('#btnAutoGen').html();
        function countDown() {
            if (sec < 10) {
                $('#btnAutoGen').html(btnAutoGen_html + ' (0' + sec + ' giây)');
            } else {
                $('#btnAutoGen').html(btnAutoGen_html + ' (' + sec + ' giây)');
            }
            if (sec <= 0) {
                $("#btnAutoGen").removeAttr("disabled");
                $('#btnAutoGen').html(btnAutoGen_html);
                return;
            }
            sec -= 1;
            window.setTimeout(countDown, 1000);
        }
        $('#btnAutoGen').on('click', function () {

            if ($('#genKeyword').val() == "" || $('#genTime').val() == "" || $('#genAchived').val() == "" || $('#genLink').val() == "" || ($('#genPlatform').val() == '' || $('#genPlatform').val() == null)) {
                hcShowToast("Thiếu dữ liệu", "Vui lòng điền đầy đủ thông tin vào các ô được đánh dấu <b style='color:red;'>(*)</b>", "warning", "dark", 5000);
                return;
            }
            let cbChecked = $('#formAction input[type=checkbox]:not(#checkAll):checked');
            let listAction = [];
            cbChecked.each(function (index, el) {
                let act = $(el).data('act');
                if (act != null) {
                    listAction.push(act);
                }
            });
            //console.log($('#genPlatform').val());
            //return;
            $(this).attr('disabled', true);
            hcShowToast("Thông báo", "Đang tạo tự động, vui lòng đợi", "warning", "dark", 30000);
            countDown();
            let modeTest = $('input[name="modeTest"]:checked').val();
            let genPlatform = $('#genPlatform').val();
            let genAchived = $('#genAchived').val();
            let genLink = $('#genLink').val();
            let genKeyword = $('#genKeyword').val();
            let comGroup = $('#comGroup').val();
            let userId = $('#userId').val();
            let vpsGroup = $('#vpsGroup').val();
            let actMode = $('#actMode').val();
            let data_post = {
                modeTest: modeTest,
                genPlatform: genPlatform,
                genActions: listAction,
                genAchived: genAchived,
                genLink: genLink,
                genKeyword: genKeyword,
                comGroup: comGroup,
                userId: userId,
                actMode: actMode,
                vpsGroup: vpsGroup,
            };
            console.log("======================== Gửi ========================");
            console.log($('input[name="modeTest"]:checked').val());
            console.log("======================== Nhận ========================");
            $("#Tong_thoi_gian").html("");
            $("#cTimeline").html("");
            $("#cActions").html("");
            $.ajax({
                url: "/Actions/GenAuto",
                method: "POST",
                data: data_post,
                success: function (data) {
                    if (data.code == "success") {
                        console.log(data);
                        $("#Tong_thoi_gian").html(JSON.stringify(data.countTime));
                        $("#cTimeline").html(data.Timeline_count);
                        $("#cActions").html(data.Action_count);
                        hcShowToast("Thông báo", "Gen tự động thành công", "success", "dark", 4000);
                        setTimeout(function () {
                            Swal.fire({
                                title: 'Bạn có muốn xem Timline đã tạo không?',
                                showCancelButton: true,
                                confirmButtonText: `Chuyển hướng`,
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "/Timeline/Index";
                                }
                            });
                        }, 1500);
                    } else {
                        hcShowToast("Lỗi", data.message, "error", "dark", 4000);
                        return;
                    }
                },
                error: function (xhr) {
                    hcShowToast("Lỗi", xhr.responeText, "error", "dark", 10000);
                }
            });
        });
        // #endregion
        $("#checkAll").click(function () {
            $('input:checkbox').not(this).not($("#actMode")).prop('checked', this.checked);
        });
        $('#btnAutoSample').on('click', function () {
            $("#genLink").val('https://www.youtube.com/watch?v=wzbBVtDe2vU');
            $("#genTime").val(1);
            $("#genPlatform").val("");
            $("#genPlatform option[value='all']").prop("selected", true);
            $("#genPlatform").multiselect("refresh");
            $("#genAchived").val(50);
            $("#genKeyword").val("musica relax");
        });
        $('#genPlatform').on('change', function () {
            let genPlatform = $(this).val();
            console.log(genPlatform);
            let all = $.inArray("all", genPlatform) !== -1;
            if (genPlatform == '' || genPlatform == null) {
                $('#genPlatform option[value="youtube"]').attr("disabled", false);
                $('#genPlatform option[value="google"]').attr("disabled", false);
                $('#genPlatform option[value="facebook"]').attr("disabled", false);
                $('#genPlatform option[value="instagram"]').attr("disabled", true);
                $("#genPlatform").multiselect("refresh");
            }
            if (jQuery.inArray("youtube", genPlatform) >= 0) {
                $("#lblcbView").show();
                $("#lblcbLike").show();
                $("#lblcbDislike").show();
                $("#lblcbComment").show();
            }
            if (jQuery.inArray("google", genPlatform) >= 0 && genPlatform.length == 1) {
                $("#lblcbView").hide();
                $("#lblcbLike").hide();
                $("#lblcbDislike").hide();
                $("#lblcbComment").hide();
            }
            if (jQuery.inArray("facebook", genPlatform) >= 0) {
                $("#lblcbView").show();
                $("#lblcbLike").show();
                $("#lblcbComment").show();
            }
            if (jQuery.inArray("instagram", genPlatform) >= 0) {
                $("#lblcbLike").show();
                $("#lblcbDislike").show();
                $("#lblcbView").show();
                $("#lblcbComment").show();
            }
            if (all) {
                console.log("aaaaaa");
                $("#genPlatform").val("");
                $("#genPlatform option[value='all']").prop("selected", true);
                $('#genPlatform option[value="youtube"]').attr("disabled", true);
                $('#genPlatform option[value="google"]').attr("disabled", true);
                $('#genPlatform option[value="facebook"]').attr("disabled", true);
                $('#genPlatform option[value="instagram"]').attr("disabled", true);
                $("#genPlatform").multiselect("refresh");
            }
        });
    }); // end document ready
</script>